a.out
.DS_Store

GNUmakefile
GNUmakefile.in
.deps/
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/stamp-h1
/compile
/sassc

# Build stuff

*.o
*.gem
*.res
*.o
*.lo
*.so
*.dll
*.a
*.suo
*.sdf
*.opensdf
a.out
libsass.js
tester
tester.exe
build/
config.h.in*
lib/pkgconfig/
libsass/
script/ar-lib
script/compile
script/config.guess
script/config.sub
script/depcomp
script/install-sh
script/ltmain.sh
script/missing
.sass-cache
*.user
*.db
*.opendb
