@import url(foobar.css);
div {
  a: 2 2 + 2;
  a: #{2 + 2};
  b: +23;
  a: hello #{world};
  a: hello whatever;
  a: "hello";
  b: "hello#{2+2}";
  @import url(foobar.css);
  c: -webkit-foobar(hux, baz);
  c: foo(hello);
  @import url(foobar.css);
  
  
}

@mixin foo() {
  blah: blah;
  bloo: bloo;
}


div {
  a: a;
  b: b;
  @include foo();
  c: c;
  d: d;
}

div {
  color: blah blah;
  *color: blah bloo;
  _color: foo boo;
}

foo > {
  bar1 { blah: blah; }
  bar2 { bloo: bloo; }
  + {
    hux {
      blee: blee;
    }
  }
}

foo {
  a: a;
  bar {
    b: b;
  }
  + {
    hux {
      c: c;
    }
    mumble {
      d: d;
    }
  }
}

div > {
  > > blah > { a: a; }
  > + blah ~ > { b: b; }
  blee {
    + bloo { c: c; };
    ~ bloo { d: d; };
    e: e;
  }
}