$vendor: webkit;
$gradient-type: linear;
$gradients: center;

@function blarg($x, $y: why) {
  @return $x (2 + 2) $y;
}

div:bloo("goo") 
  goo: blarg(oh god, why);
  roo: oh god (2 + 2) $gradients;
}

div:nth-child(n+2) {
  color: red;
  blah: bar + "foo";
  blah: "bar" + foo;
}