@warn "hey ho #{1 + 2}";

@mixin blub() {
  @warn hey, 4+5, "blah #{1 + 2}";
  blub: blab;
}

foo {
  bar: bar;
  @each $i in 1 2 3 {
    @warn "blah-#{$i}";
    blah: blah-$i;
  }
  @include blub();
  b: "I'm a " + "\"fashion\" \"expert\"";
  c: unquote("blah \"blah\" blah");
  d: nth();
}

foo {
  #{"baz" + "bang"}buzz: blip;
  boo: bingo-#{"bon" + "go"};
}

@import "partial.scss";

@import "nonpartial";

@import "scratch/fartial";