/* rudimentary inheritance */

/*a {
  p: 1;
}

b {
  @extend a;
  q: 2;
}*/

/* inheritance with qualified selectors */

/*c.foo {
  p: 1;
}

d {
  @extend c;
  q: 2;
}

*/


"foo" bar {
  hello: baz;
}