$x: 3;

div {
	noo: not $x;
	poo: not 3;
	doo: not($x);
	goo: not(3);
	zoo: not 1 + 2;

	roo: not not not $x;
	hoo: not not not 3;
}

@mixin foo($x-1, $x-2) {
  goo: $x-1;
  poo: $x-2;
}

span {
  a: rgba(100, 20, 0, 1);
  b: rgba(#abc, 1);
  c: compact(hello, my, false, name, is, false, aaron, false, false);
  d: join(1 2 3, 4 5 6, comma);
  e: join(a b c, d e f);
  f: change-color(#102030, $blue: 5);
  g: change-color(#102030, $red: 120, $blue: 5);
  h: hsl(25, 100%, 80%);
  h: change-color(#ffc499, $alpha: 0.8, $lightness: 40%);
  h: change-color(hsl(25, 100%, 80%), $alpha: 0.8, $lightness: 40%);
  i: hsla(25, 100%, 40%, 0.8);
}


@mixin foo() {
  hey: ho;
  @content;
}

.foo {
  @include foo {
    blah: blah;
  };;;
  ho: hoo;
}