#mvBagBody {
  .lineItem .colQty::before {
    content: "Qty. ";
  }
  .giftCardEmailId {
    font-weight: bold;
  }
  .mvBanner {
    padding-top: 1px;
    img {
      width: 100%;
      border-top: 2px solid #555;
    }
  }
  /*-------save items-------*/
  .addToCurrentBag > input {
    padding:5px 5px 10px 5px;
  }
  .buyAnotherSizeColor {
    clear:both;
    text-align:right;
    padding-top:5px;
    font-weight:bold;
    display:inline-block;
    a { 
      color: #3A3A39;
      text-decoration:underline;
    }
  }
  /*----each items----*/
  div.bagErrorMsg,  div.bagContent .promoPrice, div.lineItem div.lineItemError {
    color:#e70000;
    font-weight:bold;
  }
  #itemsContainer a, #bagFooterContent a {
    color: #3A3A39;
    text-decoration:underline;
  }

  div.bagContent .bagLowestPrice {
    color:#e70000;
  }
  div.bagContent .promoDesc {
    color:#e70000;
    font-style: italic;
    float:left;
  }
  .itemImage {
    display: block;
    float: left;
    padding-bottom: 5px;
    width: 70px;
  }
  div.bagContent .lineItem span.itemColor .label, div.bagContent .lineItem span.itemSize .label, div.bagContent .lineItem span.itemType .label{
    font-weight:bold;
  }
  .itemDescription {
    width:75%;
    float:left;
    > span {
      display:block;
    }
  }
  .colItem {
    overflow:hidden;
    border-bottom: 1px dotted #DDD;
    padding-bottom:5px;
    margin-bottom:5px;
  }
  .colPrice {
    float:right;
    text-align:right;
  }
  .promoDetails {
    border-top: 1px dotted #DDD;
    padding-top:5px;
    overflow:hidden;
  }
  .colTotal{
    clear:both;
    text-align:right;
    padding-bottom:5px;
    font-weight:bold;
  }
  .removeLink {
    clear:both;
    text-align:right;
    padding-top:5px;
    text-decoration:underline;
    font-weight:bold;
    display:inline-block;
  }
  .registrantsInfo {
    padding:10px 10px 0 10px;
    border-top:1px solid #999;
  }
  .registrantsNames {
    font-weight:bold;
    vertical-align: middle;
    a {
      font-weight:normal;
    }
  }
  /*--------hide registry info while remove the first registry item in bag---------*/
  .dottedResgistryLine.lineItem .registrantsInfo {
    display:none;
  }
  /*---------special promote row---------*/
  #orderLevelPromoContainer {
    overflow:hidden;
    padding:10px;
    color:#e70000;
    .promoDesc {
      float:left;
    }
    .promoDiscount {
      float:right;
    }
  }
  /*-------promote code------*/
  .promocodeContainer{
    padding:10px;
    border-top:1px solid #999;
    border-bottom:1px solid #999;
    #applyPromoCode {
      min-height:26pxt;
    }
    .promocodeQuestion {
      font-weight:bold;
      color:#e70000;
    }
    #promoCode {
      float:left;
      margin-right:10px;
    }
    .promocodeFindnow {
      padding:10px 0;
    }
    .promocodRrow {
      clear: both;
      padding-top: 5px;
    }
  }
  /*------price------*/ 
  #bagContainer {
    > ul > li {
      padding:5px 10px;
      overflow:hidden;
      text-align:right;
      clear:both;
      >div {
        display:inline-block;
      }
      > div:nth-of-type(1) {
        float:left;
      }
      &#bagYouSaved {
        text-align:left;
        #youSaved, #bagYouSavedTotal {
          color:#e70000;
          font-weight:bold;
          line-height:150%;
        }
      }
    }

  }
  .freeShipping {
    font-weight:bold;
    color:#e70000;
  } 
  div.bagFooter .visibilityHidden {
    display:none !important;
  }
  /*--------total-------*/
  .bagContainer.totalsTotal {
    overflow:hidden;
    text-align:right;
    clear:both;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBFBFB), to(#CECECE));
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
    >div {
      display:inline-block;
    }
    > div:nth-of-type(1) {
      float:left;
    }

  }
  /*------btns--------*/
  .shoppingButtons img {
    padding:3px;
  }
  /*--------popup------*/
  #panelTrianglePopIn {
    left:0 !important;
    padding-left:66px !important;
    padding-top:1px;
  }
  #youSavedContent, #estmdShipPanel {
    display:none;
  }
  .youSavedPanel ul{
    margin: 0px 0px 0px 15px;
    li{
      padding-bottom: 2px;
    }
  }
  #estimatedShipping,#estimatedTaxes {
    text-decoration:underline;
  }

  #panelPopIn_c {
    #panelClosePopIn { 
      float:right;
    }
    #panelPopIn {  
      width: 240px !important;
      .popupEstShippingFree,.popupEstShippingTotalFree {
        color:#e70000;
      }
      #totalShipCost {
        font-weight:bold;
        padding-top:10px;
        margin-top:10px;
        border-top:1px solid #ddd;
        clear:both;
        overflow:hidden;
      }
      #standardShipping {
        overflow:hidden;
      }
      .popupEstShippingCost,.popupEstShippingTotalCost {
        float:right;
      }
      .popupEstShippingText {
        float:left;
        a {
          color: #3A3A39;
          text-decoration:underline;
        }
      }
    }
    display:inline-block;
    -webkit-box-shadow: #555 1px 1px 4px;
    background: white;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    font-size: 13px;
    left: 6px !important;
    padding: 4px 10px 2px;
    .estTaxHeaderText, #estmdShipText {
      font-weight:bold;
    }
  }
  /*--------error message-------*/
  #generalErrorContent .generalError {
    background: white url(../../images/css/alter_red.png) no-repeat 10px 10px;
    border:1px dotted #DDD;
    line-height: 170%;
    margin: 5px;
    padding: 5px 0px 5px 28px;
    color:#e70000;
  }
  /*------------special offer and bonus offers, this part is css only.------------*/
  .bagOffers > .offersContainer  {
    > h3 {
      -webkit-box-shadow: #E5E5E5 0px -3px 4px inset;
      background: white;
      border-bottom: 1px solid #555;
      border-top: 1px solid #DDD;
      color: #444;
      display: block;
      font-size: 19px;
      overflow: hidden;
      padding: 6px 10px;
      text-transform: capitalize;
      > br {
        display:none;
      }
    }
    .productThumbnail  {
      -webkit-box-shadow: #555 1px 1px 4px;
      background: white;
      border-bottom-left-radius: 3px 3px;
      border-bottom-right-radius: 3px 3px;
      border-top-left-radius: 3px 3px;
      border-top-right-radius: 3px 3px;
      clear: both;
      display: block;
      line-height: 140%;
      margin: 10px 5px;
      overflow: hidden;
      padding: 10px;
      .giftOffers {
        text-decoration:underline;
        font-weight:bold;
      }
      .singlePrice {
        color:#e70000;
        font-weight:bold;
      }
      a.imageLink {
        display: block;
        float: left;
        padding-bottom: 5px;
        width: 70px;
        img {
          width:60px;
        }
      }
      > div {
        float: right;
        width: 75%;
        clear:right;
        padding-bottom:5px;
      }
    }

  }
   /*------this is the same style as mvShadowBox. add this because it is not able to class while add bonus offer-------*/
.lineItem {
      -webkit-box-shadow: #555 1px 1px 4px;
      background: white;
      border-bottom-left-radius: 3px 3px;
      border-bottom-right-radius: 3px 3px;
      border-top-left-radius: 3px 3px;
      border-top-right-radius: 3px 3px;
      clear: both;
      display: block;
      line-height: 140%;
      margin: 10px 5px;
      overflow: hidden;
      padding: 10px;
       .notAvailableLine {
                        color:#e70000;
                        font-weight:bold;
                      }
    }
    
    
/*-------/bag/checkout/policies/shipping.jsp-------*/
&.mwShippingPolicy {
  .textHeader {
    font-weight:bold;
  }
  h1 {
    color:#e70000;
    font-weight:bold;
    font-size:15px;
    margin-bottom:-20px;
  }
  #holiday_icon,#holiday_text {
    display:none;
    } 
  }
    
}
#mvBagBody {
  .lineItem .colQty::before {
    content: "Qty. ";
  }
  .giftCardEmailId {
    font-weight: bold;
  }
  .mvBanner {
    padding-top: 1px;
    img {
      width: 100%;
      border-top: 2px solid #555;
    }
  }
  /*-------save items-------*/
  .addToCurrentBag > input {
    padding:5px 5px 10px 5px;
  }
  .buyAnotherSizeColor {
    clear:both;
    text-align:right;
    padding-top:5px;
    font-weight:bold;
    display:inline-block;
    a { 
      color: #3A3A39;
      text-decoration:underline;
    }
  }
  /*----each items----*/
  div.bagErrorMsg,  div.bagContent .promoPrice, div.lineItem div.lineItemError {
    color:#e70000;
    font-weight:bold;
  }
  #itemsContainer a, #bagFooterContent a {
    color: #3A3A39;
    text-decoration:underline;
  }

  div.bagContent .bagLowestPrice {
    color:#e70000;
  }
  div.bagContent .promoDesc {
    color:#e70000;
    font-style: italic;
    float:left;
  }
  .itemImage {
    display: block;
    float: left;
    padding-bottom: 5px;
    width: 70px;
  }
  div.bagContent .lineItem span.itemColor .label, div.bagContent .lineItem span.itemSize .label, div.bagContent .lineItem span.itemType .label{
    font-weight:bold;
  }
  .itemDescription {
    width:75%;
    float:left;
    > span {
      display:block;
    }
  }
  .colItem {
    overflow:hidden;
    border-bottom: 1px dotted #DDD;
    padding-bottom:5px;
    margin-bottom:5px;
  }
  .colPrice {
    float:right;
    text-align:right;
  }
  .promoDetails {
    border-top: 1px dotted #DDD;
    padding-top:5px;
    overflow:hidden;
  }
  .colTotal{
    clear:both;
    text-align:right;
    padding-bottom:5px;
    font-weight:bold;
  }
  .removeLink {
    clear:both;
    text-align:right;
    padding-top:5px;
    text-decoration:underline;
    font-weight:bold;
    display:inline-block;
  }
  .registrantsInfo {
    padding:10px 10px 0 10px;
    border-top:1px solid #999;
  }
  .registrantsNames {
    font-weight:bold;
    vertical-align: middle;
    a {
      font-weight:normal;
    }
  }
  /*--------hide registry info while remove the first registry item in bag---------*/
  .dottedResgistryLine.lineItem .registrantsInfo {
    display:none;
  }
  /*---------special promote row---------*/
  #orderLevelPromoContainer {
    overflow:hidden;
    padding:10px;
    color:#e70000;
    .promoDesc {
      float:left;
    }
    .promoDiscount {
      float:right;
    }
  }
  /*-------promote code------*/
  .promocodeContainer{
    padding:10px;
    border-top:1px solid #999;
    border-bottom:1px solid #999;
    #applyPromoCode {
      min-height:26pxt;
    }
    .promocodeQuestion {
      font-weight:bold;
      color:#e70000;
    }
    #promoCode {
      float:left;
      margin-right:10px;
    }
    .promocodeFindnow {
      padding:10px 0;
    }
    .promocodRrow {
      clear: both;
      padding-top: 5px;
    }
  }
  /*------price------*/ 
  #bagContainer {
    > ul > li {
      padding:5px 10px;
      overflow:hidden;
      text-align:right;
      clear:both;
      >div {
        display:inline-block;
      }
      > div:nth-of-type(1) {
        float:left;
      }
      &#bagYouSaved {
        text-align:left;
        #youSaved, #bagYouSavedTotal {
          color:#e70000;
          font-weight:bold;
          line-height:150%;
        }
      }
    }

  }
  .freeShipping {
    font-weight:bold;
    color:#e70000;
  } 
  div.bagFooter .visibilityHidden {
    display:none !important;
  }
  /*--------total-------*/
  .bagContainer.totalsTotal {
    overflow:hidden;
    text-align:right;
    clear:both;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBFBFB), to(#CECECE));
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
    >div {
      display:inline-block;
    }
    > div:nth-of-type(1) {
      float:left;
    }

  }
  /*------btns--------*/
  .shoppingButtons img {
    padding:3px;
  }
  /*--------popup------*/
  #panelTrianglePopIn {
    left:0 !important;
    padding-left:66px !important;
    padding-top:1px;
  }
  #youSavedContent, #estmdShipPanel {
    display:none;
  }
  .youSavedPanel ul{
    margin: 0px 0px 0px 15px;
    li{
      padding-bottom: 2px;
    }
  }
  #estimatedShipping,#estimatedTaxes {
    text-decoration:underline;
  }

  #panelPopIn_c {
    #panelClosePopIn { 
      float:right;
    }
    #panelPopIn {  
      width: 240px !important;
      .popupEstShippingFree,.popupEstShippingTotalFree {
        color:#e70000;
      }
      #totalShipCost {
        font-weight:bold;
        padding-top:10px;
        margin-top:10px;
        border-top:1px solid #ddd;
        clear:both;
        overflow:hidden;
      }
      #standardShipping {
        overflow:hidden;
      }
      .popupEstShippingCost,.popupEstShippingTotalCost {
        float:right;
      }
      .popupEstShippingText {
        float:left;
        a {
          color: #3A3A39;
          text-decoration:underline;
        }
      }
    }
    display:inline-block;
    -webkit-box-shadow: #555 1px 1px 4px;
    background: white;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    font-size: 13px;
    left: 6px !important;
    padding: 4px 10px 2px;
    .estTaxHeaderText, #estmdShipText {
      font-weight:bold;
    }
  }
  /*--------error message-------*/
  #generalErrorContent .generalError {
    background: white url(../../images/css/alter_red.png) no-repeat 10px 10px;
    border:1px dotted #DDD;
    line-height: 170%;
    margin: 5px;
    padding: 5px 0px 5px 28px;
    color:#e70000;
  }
  /*------------special offer and bonus offers, this part is css only.------------*/
  .bagOffers > .offersContainer  {
    > h3 {
      -webkit-box-shadow: #E5E5E5 0px -3px 4px inset;
      background: white;
      border-bottom: 1px solid #555;
      border-top: 1px solid #DDD;
      color: #444;
      display: block;
      font-size: 19px;
      overflow: hidden;
      padding: 6px 10px;
      text-transform: capitalize;
      > br {
        display:none;
      }
    }
    .productThumbnail  {
      -webkit-box-shadow: #555 1px 1px 4px;
      background: white;
      border-bottom-left-radius: 3px 3px;
      border-bottom-right-radius: 3px 3px;
      border-top-left-radius: 3px 3px;
      border-top-right-radius: 3px 3px;
      clear: both;
      display: block;
      line-height: 140%;
      margin: 10px 5px;
      overflow: hidden;
      padding: 10px;
      .giftOffers {
        text-decoration:underline;
        font-weight:bold;
      }
      .singlePrice {
        color:#e70000;
        font-weight:bold;
      }
      a.imageLink {
        display: block;
        float: left;
        padding-bottom: 5px;
        width: 70px;
        img {
          width:60px;
        }
      }
      > div {
        float: right;
        width: 75%;
        clear:right;
        padding-bottom:5px;
      }
    }

  }
   /*------this is the same style as mvShadowBox. add this because it is not able to class while add bonus offer-------*/
.lineItem {
      -webkit-box-shadow: #555 1px 1px 4px;
      background: white;
      border-bottom-left-radius: 3px 3px;
      border-bottom-right-radius: 3px 3px;
      border-top-left-radius: 3px 3px;
      border-top-right-radius: 3px 3px;
      clear: both;
      display: block;
      line-height: 140%;
      margin: 10px 5px;
      overflow: hidden;
      padding: 10px;
       .notAvailableLine {
                        color:#e70000;
                        font-weight:bold;
                      }
    }
    
    
/*-------/bag/checkout/policies/shipping.jsp-------*/
&.mwShippingPolicy {
  .textHeader {
    font-weight:bold;
  }
  h1 {
    color:#e70000;
    font-weight:bold;
    font-size:15px;
    margin-bottom:-20px;
  }
  #holiday_icon,#holiday_text {
    display:none;
    } 
  }
    
}