.mw_billpay {
  .generalError {
    padding:10px;
    color:#e70000;
  }
  p.note {
    font-size: 12px;
    padding: 5px;
    span { font-weight: bold; }
  }
  #localContentContainer {
    a {
      text-decoration:underline;
      color: #3A3A39;
    }
    > h6 {
      margin: 10px;
    }
    > p {
      margin: 10px;
    }
  }
  div.fullwidthCoulumn {
    h3.quick {
      font-weight: bold;
      padding: 7px 5px 0;
    }
    ul#call-to-action li {
      padding: 0 5px 10px;
      h4 {
        color: rgb(223,54,39);
        font-size: 17px;
        padding: 5px 0;
      }
      p {
        font-size: 11px;
      }
      a.primaryBtnL {
        @include red_button();
        font-weight: bold;
        margin: 5px 0;
      }
    }
  }
  .headingBar {
    padding: 10px 5px 5px;
  }
  ul#options li, div.contentPadding {
    padding: 5px;
    p {
      margin: 0;
    }
    h6 {
      padding: 3px 0;
      font-weight: bold;
      font-size: 15px;
    }
    &.two {
      background: #eee;
    }
    em {
      margin-top: 10px;
      display: block;
      font-style: normal;
      font-weight: bold;
    }
    p span {
      font-weight: bold;
    }
  }
  ul#privacyLinks {
    padding: 0 5px;
    li {
      em {
        font-style: normal;
        font-weight: bold;
      }
      padding: 3px 0;
    }
  }
  ul#paymentSteps {
    padding: 10px;
    li {
      display: inline;
      list-style-type: none;
      font-size: 16px;
      font-weight: normal;
      color: #CCC;
      font-family: arial, verdana, lucida, san-serif;
    }
    li.selected {
      color: #C00;
    }
  }
  .cardHeader {
    @include grey_card_header();
    sup {
      font-size: 10px;
    }
  }
  .paymentContent, .paymentOptions {
    padding: 10px 10px 0;
    #addAnotherChecking {
      display:block;
      padding:10px 0;
      border-bottom:1px solid #ddd;
    }
    form {
      display: inline-block;
    }
    p.large {
      padding-top: 12px;
      span {
        font-weight: bold;
      }
    }
    fieldset {
      padding: 10px 0;
      border-bottom:1px solid #ddd;
      &.last { border-bottom:none;
        }
      div.rows {
        font-weight: bold;
        padding: 4px 0;
        label {
          display: inline-block;
          width: 140px;
        }
        .normal {
          font-weight: normal;
        }
      }
    }
    button {
      padding: 0;
      text-decoration: underline;
      background: transparent;
      border: none;
      font-size: 13px;
      width: auto !important;
    }
    .confirmationInfo h5 span {
      color: red;
    }
    fieldset {
      h5 {
        font-weight: bold;
        padding-bottom: 5px;
      }
      .radioRow {
        line-height: 22px;
        select {
          margin:0 5px;
          display:inline-block;
        }
        label {
          display: inline-block;
          font-size: 13px;
        }
        div {
          display: inline-block;
          text-align: right;
          input {
            width: 50px;
            padding: 0;
          }
          &.amount {
            width: 80px;
          }
          &.amountError {
            width: 22px;
          }
        }
      }
      .mCheckingClone {
        display: none;
      }
    }
  }
  .btnContainer {
    margin: 10px 5px 50px;
    #submitBtn, #continueBtn {
      @include red_button();
      float: right;
      margin: 10px;
    }
    #cancelBtn {
      @include gray_button();
      float: left;
      margin: 10px;
    }
  }
  .yui3-widget-bd {
    div.ovlContent {
      h4 {
        font-weight: bold;
      }
      span.bold {
        font-weight: bold;
      }
      p {
        font-size: 12px;
        padding-bottom: 10px;
      }
      div.paymentsContainer {
        font-size: 10px;
      }
      button.secondaryBtnS {
        @include gray_button();
        margin: 5px;
        float: right;
      }
      table.payments {
        thead {
          background-color: #CCC;
          text-transform: capitalize;
          font-weight: bold;
        }
        tr {
          td {
            border-bottom-style: dotted;
            border-bottom-width: 1px;
            border-color: #999;
          }        
          td:nth-of-type(4) {
            font-weight: bold;
            font-size: 12px;
          }
          button.secondaryBtnS {
             padding: 6px 10px;
          }
        }
      }
    }
  }
  .yui3-overlay {
   // left: 2% !important;
   left: 0 !important;
    .yui3-widget-hd {
      height:27px;
      .closeIcon {
        float: right;
        margin: 5px;
        background: url(../../images/css/close_btn.png) no-repeat;
        width: 20px;
        height: 20px;
      }
    }
    .yui3-widget-bd {
      margin: 10px;
    }
    #calendarOverlay {
      top: 500px !important;
      .calheader a {
        display: block;
      }
      .calbody > tr > td {
        padding: 5px;
      }
    }
  }
  p.payment {
    margin:10px;
  }
  a.whyLink {
    margin: 10px 0;
  }
  div.cardContainer {
    margin: 10px 0;
    div.accountLeft {
      margin: 10px;
    }
   /* div.mAccountContainer {
         margin: 10px;
       }*/
    div.accountsContent {
      div.accountBalance {
        div.hdrColumn {
          display:inline-block;
          clear: both;
          margin-top:10px;
        }
        div.right {
          button.primaryBtnL {
            @include red_button();
            font-weight: bold;
            margin: 5px 0;
          }
          div.hdrColumn {
            font-weight:bold;
            span > a {
              display: inline-block;
            }
          }
        }
      }
      span {
        clear:right;
      }
      span.emphasize {
        font-weight: bold;
      }
    }
  }
  div#bubblePointer {
    bottom: -30px;
    height: 15px;
    left: -50px;
    position: absolute;
    z-index: 3010;
  }
  div#cancelOverlay {
    top: 500px !important;
    h6 {
      font-size: 16px;
      font-weight: bold;
      color: #C00;
    }
    
    p {
      margin: 10px 0;
    }
    .primaryBtnL {
      @include gray_button();
    }
    .secondaryBtnL, .secondaryBtnS {
      @include gray_button();
    }
  }
  div.cancelOnetimeConfirmation {
    h5 {
      font-size: 16px;
      font-weight: bold;
      color: #C00;
    }
    button#closeBtn {
      @include gray_button();
    }
  }
  .btnContainer {
    .cancelBtn {
      @include gray_button();
      float: left;
      margin: 10px;
    }
  }
  #okOverlay {
    #okOverlayContent>h6 {
      margin: 10px 0;
      font-size: 16px;
      font-weight: bold;
      color: #C00;
    }
    #closeOkOverlayBtn {
      margin-top: 10px;
      @include gray_button();
    }
  }
}


.mw_billpay {
  .generalError {
    padding:10px;
    color:#e70000;
  }
  p.note {
    font-size: 12px;
    padding: 5px;
    span { font-weight: bold; }
  }
  #localContentContainer {
    a {
      text-decoration:underline;
      color: #3A3A39;
    }
    > h6 {
      margin: 10px;
    }
    > p {
      margin: 10px;
    }
  }
  div.fullwidthCoulumn {
    h3.quick {
      font-weight: bold;
      padding: 7px 5px 0;
    }
    ul#call-to-action li {
      padding: 0 5px 10px;
      h4 {
        color: rgb(223,54,39);
        font-size: 17px;
        padding: 5px 0;
      }
      p {
        font-size: 11px;
      }
      a.primaryBtnL {
        @include red_button();
        font-weight: bold;
        margin: 5px 0;
      }
    }
  }
  .headingBar {
    padding: 10px 5px 5px;
  }
  ul#options li, div.contentPadding {
    padding: 5px;
    p {
      margin: 0;
    }
    h6 {
      padding: 3px 0;
      font-weight: bold;
      font-size: 15px;
    }
    &.two {
      background: #eee;
    }
    em {
      margin-top: 10px;
      display: block;
      font-style: normal;
      font-weight: bold;
    }
    p span {
      font-weight: bold;
    }
  }
  ul#privacyLinks {
    padding: 0 5px;
    li {
      em {
        font-style: normal;
        font-weight: bold;
      }
      padding: 3px 0;
    }
  }
  ul#paymentSteps {
    padding: 10px;
    li {
      display: inline;
      list-style-type: none;
      font-size: 16px;
      font-weight: normal;
      color: #CCC;
      font-family: arial, verdana, lucida, san-serif;
    }
    li.selected {
      color: #C00;
    }
  }
  .cardHeader {
    @include grey_card_header();
    sup {
      font-size: 10px;
    }
  }
  .paymentContent, .paymentOptions {
    padding: 10px 10px 0;
    #addAnotherChecking {
      display:block;
      padding:10px 0;
      border-bottom:1px solid #ddd;
    }
    form {
      display: inline-block;
    }
    p.large {
      padding-top: 12px;
      span {
        font-weight: bold;
      }
    }
    fieldset {
      padding: 10px 0;
      border-bottom:1px solid #ddd;
      &.last { border-bottom:none;
        }
      div.rows {
        font-weight: bold;
        padding: 4px 0;
        label {
          display: inline-block;
          width: 140px;
        }
        .normal {
          font-weight: normal;
        }
      }
    }
    button {
      padding: 0;
      text-decoration: underline;
      background: transparent;
      border: none;
      font-size: 13px;
      width: auto !important;
    }
    .confirmationInfo h5 span {
      color: red;
    }
    fieldset {
      h5 {
        font-weight: bold;
        padding-bottom: 5px;
      }
      .radioRow {
        line-height: 22px;
        select {
          margin:0 5px;
          display:inline-block;
        }
        label {
          display: inline-block;
          font-size: 13px;
        }
        div {
          display: inline-block;
          text-align: right;
          input {
            width: 50px;
            padding: 0;
          }
          &.amount {
            width: 80px;
          }
          &.amountError {
            width: 22px;
          }
        }
      }
      .mCheckingClone {
        display: none;
      }
    }
  }
  .btnContainer {
    margin: 10px 5px 50px;
    #submitBtn, #continueBtn {
      @include red_button();
      float: right;
      margin: 10px;
    }
    #cancelBtn {
      @include gray_button();
      float: left;
      margin: 10px;
    }
  }
  .yui3-widget-bd {
    div.ovlContent {
      h4 {
        font-weight: bold;
      }
      span.bold {
        font-weight: bold;
      }
      p {
        font-size: 12px;
        padding-bottom: 10px;
      }
      div.paymentsContainer {
        font-size: 10px;
      }
      button.secondaryBtnS {
        @include gray_button();
        margin: 5px;
        float: right;
      }
      table.payments {
        thead {
          background-color: #CCC;
          text-transform: capitalize;
          font-weight: bold;
        }
        tr {
          td {
            border-bottom-style: dotted;
            border-bottom-width: 1px;
            border-color: #999;
          }        
          td:nth-of-type(4) {
            font-weight: bold;
            font-size: 12px;
          }
          button.secondaryBtnS {
             padding: 6px 10px;
          }
        }
      }
    }
  }
  .yui3-overlay {
   // left: 2% !important;
   left: 0 !important;
    .yui3-widget-hd {
      height:27px;
      .closeIcon {
        float: right;
        margin: 5px;
        background: url(../../images/css/close_btn.png) no-repeat;
        width: 20px;
        height: 20px;
      }
    }
    .yui3-widget-bd {
      margin: 10px;
    }
    #calendarOverlay {
      top: 500px !important;
      .calheader a {
        display: block;
      }
      .calbody > tr > td {
        padding: 5px;
      }
    }
  }
  p.payment {
    margin:10px;
  }
  a.whyLink {
    margin: 10px 0;
  }
  div.cardContainer {
    margin: 10px 0;
    div.accountLeft {
      margin: 10px;
    }
   /* div.mAccountContainer {
         margin: 10px;
       }*/
    div.accountsContent {
      div.accountBalance {
        div.hdrColumn {
          display:inline-block;
          clear: both;
          margin-top:10px;
        }
        div.right {
          button.primaryBtnL {
            @include red_button();
            font-weight: bold;
            margin: 5px 0;
          }
          div.hdrColumn {
            font-weight:bold;
            span > a {
              display: inline-block;
            }
          }
        }
      }
      span {
        clear:right;
      }
      span.emphasize {
        font-weight: bold;
      }
    }
  }
  div#bubblePointer {
    bottom: -30px;
    height: 15px;
    left: -50px;
    position: absolute;
    z-index: 3010;
  }
  div#cancelOverlay {
    top: 500px !important;
    h6 {
      font-size: 16px;
      font-weight: bold;
      color: #C00;
    }
    
    p {
      margin: 10px 0;
    }
    .primaryBtnL {
      @include gray_button();
    }
    .secondaryBtnL, .secondaryBtnS {
      @include gray_button();
    }
  }
  div.cancelOnetimeConfirmation {
    h5 {
      font-size: 16px;
      font-weight: bold;
      color: #C00;
    }
    button#closeBtn {
      @include gray_button();
    }
  }
  .btnContainer {
    .cancelBtn {
      @include gray_button();
      float: left;
      margin: 10px;
    }
  }
  #okOverlay {
    #okOverlayContent>h6 {
      margin: 10px 0;
      font-size: 16px;
      font-weight: bold;
      color: #C00;
    }
    #closeOkOverlayBtn {
      margin-top: 10px;
      @include gray_button();
    }
  }
}
