.mw_billpay {
  .generalError {
    padding:10px;
    color:#e70000;
  }
  p.note {
    font-size: 12px;
    padding: 5px;
    span { font-weight: bold; }
  }
  #localContentContainer {
    a {
      text-decoration:underline;
      color: #3A3A39;
    }
    > h6 {
      margin: 10px;
    }
    > p {
      margin: 10px;
    }
  }
  div.fullwidthCoulumn {
    h3.quick {
      font-weight: bold;
      padding: 7px 5px 0;
    }
    ul#call-to-action li {
      padding: 0 5px 10px;
      h4 {
        color: rgb(223,54,39);
        font-size: 17px;
        padding: 5px 0;
      }
      p {
        font-size: 11px;
      }
      a.primaryBtnL {
        @include red_button();
        font-weight: bold;
        margin: 5px 0;
      }
    }
  }
  .headingBar {
    padding: 10px 5px 5px;
  }
  ul#options li, div.contentPadding {
    padding: 5px;
    p {
      margin: 0;
    }
    h6 {
      padding: 3px 0;
      font-weight: bold;
      font-size: 15px;
    }
    &.two {
      background: #eee;
    }
    em {
      margin-top: 10px;
      display: block;
      font-style: normal;
      font-weight: bold;
    }
    p span {
      font-weight: bold;
    }
  }
  ul#privacyLinks {
    padding: 0 5px;
    li {
      em {
        font-style: normal;
        font-weight: bold;
      }
      padding: 3px 0;
    }
  }
  ul#paymentSteps {
    padding: 10px;
    li {
      display: inline;
      list-style-type: none;
      font-size: 16px;
      font-weight: normal;
      color: #CCC;
      font-family: arial, verdana, lucida, san-serif;
    }
    li.selected {
      color: #C00;
    }
  }
  .cardHeader {
    @include grey_card_header();
    sup {
      font-size: 10px;
    }
  }
  .paymentContent, .paymentOptions {
    padding: 10px 10px 0;
    #addAnotherChecking {
      display:block;
      padding:10px 0;
      border-bottom:1px solid #ddd;
    }
    form {
      display: inline-block;
    }
    p.large {
      padding-top: 12px;
      span {
        font-weight: bold;
      }
    }
    fieldset {
      padding: 10px 0;
      border-bottom:1px solid #ddd;
      &.last { border-bottom:none;
        }
      div.rows {
        font-weight: bold;
        padding: 4px 0;
        label {
          display: inline-block;
          width: 140px;
        }
        .normal {
          font-weight: normal;
        }
      }
    }
    button {
      padding: 0;
      text-decoration: underline;
      background: transparent;
      border: none;
      font-size: 13px;
      width: auto !important;
    }
    .confirmationInfo h5 span {
      color: red;
    }
    fieldset {
      h5 {
        font-weight: bold;
        padding-bottom: 5px;
      }
      .radioRow {
        line-height: 22px;
        select {
          margin:0 5px;
          display:inline-block;
        }
        label {
          display: inline-block;
          font-size: 13px;
        }
        div {
          display: inline-block;
          text-align: right;
          input {
            width: 50px;
            padding: 0;
          }
          &.amount {
            width: 80px;
          }
          &.amountError {
            width: 22px;
          }
        }
      }
      .mCheckingClone {
        display: none;
      }
    }
  }
  .btnContainer {
    margin: 10px 5px 50px;
    #submitBtn, #continueBtn {
      @include red_button();
      float: right;
      margin: 10px;
    }
    #cancelBtn {
      @include gray_button();
      float: left;
      margin: 10px;
    }
  }
  .yui3-widget-bd {
    div.ovlContent {
      h4 {
        font-weight: bold;
      }
      span.bold {
        font-weight: bold;
      }
      p {
        font-size: 12px;
        padding-bottom: 10px;
      }
      div.paymentsContainer {
        font-size: 10px;
      }
      button.secondaryBtnS {
        @include gray_button();
        margin: 5px;
        float: right;
      }
      table.payments {
        thead {
          background-color: #CCC;
          text-transform: capitalize;
          font-weight: bold;
        }
        tr {
          td {
            border-bottom-style: dotted;
            border-bottom-width: 1px;
            border-color: #999;
          }        
          td:nth-of-type(4) {
            font-weight: bold;
            font-size: 12px;
          }
          button.secondaryBtnS {
             padding: 6px 10px;
          }
        }
      }
    }
  }
  .yui3-overlay {
   // left: 2% !important;
   left: 0 !important;
    .yui3-widget-hd {
      height:27px;
      .closeIcon {
        float: right;
        margin: 5px;
        background: url(../../images/css/close_btn.png) no-repeat;
        width: 20px;
        height: 20px;
      }
    }
    .yui3-widget-bd {
      margin: 10px;
    }
    #calendarOverlay {
      top: 500px !important;
      .calheader a {
        display: block;
      }
      .calbody > tr > td {
        padding: 5px;
      }
    }
  }
  p.payment {
    margin:10px;
  }
  a.whyLink {
    margin: 10px 0;
  }
  div.cardContainer {
    margin: 10px 0;
    div.accountLeft {
      margin: 10px;
    }
   /* div.mAccountContainer {
         margin: 10px;
       }*/
    div.accountsContent {
      div.accountBalance {
        div.hdrColumn {
          display:inline-block;
          clear: both;
          margin-top:10px;
        }
        div.right {
          button.primaryBtnL {
            @include red_button();
            font-weight: bold;
            margin: 5px 0;
          }
          div.hdrColumn {
            font-weight:bold;
            span > a {
              display: inline-block;
            }
          }
        }
      }
      span {
        clear:right;
      }
      span.emphasize {
        font-weight: bold;
      }
    }
  }
  div#bubblePointer {
    bottom: -30px;
    height: 15px;
    left: -50px;
    position: absolute;
    z-index: 3010;
  }
  div#cancelOverlay {
    top: 500px !important;
    h6 {
      font-size: 16px;
      font-weight: bold;
      color: #C00;
    }
    
    p {
      margin: 10px 0;
    }
    .primaryBtnL {
      @include gray_button();
    }
    .secondaryBtnL, .secondaryBtnS {
      @include gray_button();
    }
  }
  div.cancelOnetimeConfirmation {
    h5 {
      font-size: 16px;
      font-weight: bold;
      color: #C00;
    }
    button#closeBtn {
      @include gray_button();
    }
  }
  .btnContainer {
    .cancelBtn {
      @include gray_button();
      float: left;
      margin: 10px;
    }
  }
  #okOverlay {
    #okOverlayContent>h6 {
      margin: 10px 0;
      font-size: 16px;
      font-weight: bold;
      color: #C00;
    }
    #closeOkOverlayBtn {
      margin-top: 10px;
      @include gray_button();
    }
  }
}


// Added because beauty page is unique
.mw_browse_beauty {
  .mvBanner {
    padding-top: 1px;
    img {
      width: 100%;
      border-top: 2px solid #555;
    }
  }
  #filtersBottom {
    .mvBackToTopContainer {
      border-bottom: none;
    }
    #paginateBottom {
      display: none;
    }
  }
}

.mw_browse {
  #thumbnails1header {
    // hide brand logo
    display: none;
  }
  .pdpreviews {
    span {
      position: relative;
      top: 2px;
      left: 2px;
    }
  }
  .badgeJSON {
    font-weight:bold;
  }
/* error message when internet down*/
  #errorMsgPanel { width:250px !important;}
  /* error message when narrow by price */
  .customPriceErrorHd {
    color:#e70000;
    font-weight:bold;
    }
  
  #facets .facet ul li.moreLinkContainer {
    color: #3a3a39;
    padding: 0;
    #SeeAllBrands {
      display: block;
      padding: 9px 10px 9px 20px;
    }
  }
  #yui-history-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    display: none !important;
  }
  .giftOffers br {
    display: none;
  }
  /*---------category title----------*/
  .mvEndCate {
    display: none;
  }
  .mvMoreColor {
    border: 1px solid #CCC;
    clear: both;
    color: #666;
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
  }
  #nav_title {
    overflow: hidden;
    background: #7E7E7E;
    padding: 5px 10px;
    color: #fff;
    &.selected {
      padding-bottom: 3px;
    }
  }
  .subCatList {
    z-index: 1;
    position: relative;
  }
  /*------------- narrow by -------------------*/
  .show-all {
    display: none;
    img {
      display: none;
    }
    .closeButton {
      float: right;
      -webkit-border-radius: 4px;
      font-size: 12px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E22222), color-stop(50%, #B31717), color-stop(51%, #9B1515), color-stop(100%, #9B1313));
      background-color: #B31717;
      padding: 4px 7px 3px 7px;
      color: white;
      text-shadow: #555 0px -1px 1px;
      font-weight: bold;
    }
  }
  .nav_title.narrow {
    float: right;
    -webkit-border-radius: 4px;
    font-size: 14px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e22222), color-stop(50%, #b31717), color-stop(51%, #9b1515), color-stop(100%, #9b1313));
    padding: 7px 10px;
    color: white;
    text-shadow: #555555 0px -1px 1px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    line-height: 100%;
    &.moovweb_open {
      -webkit-border-radius: 4px 4px 0 0;
      margin-bottom: -4px;
    }
    .mvPlus, .mvMinus {
      margin-top: -3px;
      padding-left: 10px;
    }
  }
  #facets {
    margin: 0 10px;
    padding: 10px 0;
    border-top: 3px solid #9B1313;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(97%, white), color-stop(100%, #e0e0e0));
    background-color: #ddd;
    -webkit-box-shadow: #555 1px 2px 2px;
    -webkit-border-radius: 0 0 4px 4px;
    overflow: hidden;
    z-index: 32;
  }
  .mvFilterContainer {
    position: absolute;
    top: 110px;
    width: 100%;
    z-index: 2;
  }
  &.ishop_app {
     .mvFilterContainer, .mvNarrowMask {
    top: 68px;
  }
  }
  #facets .mvCloseMenu {
    margin: 10px;
  }
  .facet {
    margin: 0 10px;
  }
  #filterPPP {
    display: none;
  }
  .removeFacet {
    opacity: 0;
    width: 40px;
    float: right;
  }
  #facetItems {
    clear: both;
    > span {
      &:first-of-type {
        margin-top: 15px;
        -webkit-border-radius: 5px 5px 0 0;
      }
      display: block;
      background: url("../../images/css/RedClose_btn.png") 98% 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(75%, white), color-stop(97%, #f1f0f0), color-stop(100%, #dedede));
      overflow: hidden;
      clear: both;
      border-bottom: 1px solid #999;
      text-transform: capitalize;
      padding: 9px 2%;
      color: #444;
      height: 17px;
    }
  }
  #nav_title.selected > .show-all {
    display: block;
    background: url("../../images/css/RedClose_btn.png") 98% 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(75%, white), color-stop(97%, #f1f0f0), color-stop(100%, #dedede));
    overflow: hidden;
    clear: both;
    border-bottom: 1px solid #999;
    text-transform: capitalize;
    padding: 9px 2%;
    color: #444;
    height: 17px;
    -webkit-border-radius: 0 0 5px 5px;
    margin-bottom: 5px;
    display: block;
  }
  facets.selected li.selected, .facet.selected .show-all {
    display: block;
  }
  #facets .selected li {
    display: none;
  }
  .mvFilterContainer .mvDarkGrayBar {
    padding: 10px;
  }
  /*------ narrow by container ------*/
  #facets div.facet:last-of-type {
    .mvNarrowChild {
      -webkit-border-bottom-left-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -webkit-background-clip: padding;
    }
    > .facet-name {
      -webkit-border-bottom-left-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -webkit-background-clip: padding;
      &.moovweb_open {
        -webkit-border-bottom-left-radius: 0px;
        -webkit-border-bottom-right-radius: 0px;
      }
    }
  }
  /*------------ catetory nav ---------------*/
  #categoryParentPrefixArrow, #parents {
    display: none;
  }
  #nav_category .nav_cat_sub.disabled {
    background: #eaeaea -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), color-stop(0.8, #dddddd), to(#dddddd)) !important;
    a {
      color: #999; } }
  
  /* this one is an image */
  
  #facets {
    .swatchFacet .swatch-options div div div {
      &.multi {
      background: url("../../images/css/multicolor.gif") no-repeat 50% 50%; }
      height: 35px;
      width: 35px;
      margin: 5px;
      display: block;
      border: 1px solid #ccc; }
    .facet li.disabled {
      color: #ccc; } }
  
  /*-------------- filter disabled------------ */
  
  .disabled {
    .facet-item, .facet-item-count {
      color: #ccc; } }
  
  /*----------- selected Element ------------*/
  
  #facets .priceRangeValue.priceInput.selected {
    padding: 0;
    background: none; }
  
  .facet.selected .mvNarrowChild, .mvFilterRow, .moreLinkContainer, .priceRangeValue {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, white), color-stop(97%, #f1f0f0), color-stop(100%, #dedede));
    background-color: #f9f9f9;
    border: 1px solid #999;
    border-width: 0px 1px 1px 1px;
    text-transform: capitalize;
    display: block;
    overflow: hidden;
    padding: 9px 10px 9px 20px;
    font-size: 15px; }
  
  .facet.selected .mvFilterRow {
    padding: 0;
    border-bottom: none;
    background: none; }
  
  #facets {
    .selected li.selected {
      float: left;
      border: none !important;
      display: block !important; }
    .facet.selected .show-all {
      float: right;
      -webkit-border-radius: 4px;
      font-size: 12px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e22222), color-stop(50%, #b31717), color-stop(51%, #9b1515), color-stop(100%, #9b1313));
      background-color: #B31717;
      padding: 4px 7px 3px 7px;
      color: white;
      text-shadow: #555555 0px -1px 1px;
      font-weight: bold; } }
  
  .swatch-options div.disabled {
    display: none; }
  
  .mvNarrowChild {
    overflow: hidden; }
  
  .flyoutmenu.disabled {
    color: #ccc; }
  
  /*----------- color -----------*/
  
  .facet.swatchFacet.selected .show-all {
    margin-top: -25px; }
  
  .swatch-item, .active-item {
    float: left; }
  
  .swatchFacet {
    overflow: hidden; }
  
  .swatch-options div.disabled {
    display: none; }
  
  #facets .swatchFacet .swatch-options div .imageHolder {
    background: url("../../../images/css/disabledCross.gif") no-repeat 50% 50%;
    position: absolute;
    opacity: 0.2;
    width: 35px;
    height: 35px;
    margin: -40px 5px 0 5px; }
  
  .swatchFacet.selected .mvNarrowChild {
    padding-top: 0px; }
  
  .swatch-options {
    padding-top: 10px;
    border: 1px solid #999;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, white), color-stop(97%, #f1f0f0), color-stop(100%, #dedede)); }
  
  .swatchFacet.selected .swatch-options {
    padding-top: 0px; }
  
  .swatch-options {
    .selectedColorValue {
      float: left;
      padding-left: 10px; }
    .selected-item > div > div {
      border: 1px solid #ddd; } }
  
  /*-----brand------*/
  
  /*--------- Rating -----------*/
  
  .customerRating {
    li {
      overflow: hidden; }
    .mvFilterRow.selected {
      padding-top: 3px; } }
  
  #facets .facet li span.ratingList {
    background-image: image-url("css/rating_red.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 15px;
    width: 75px;
    margin-right: 5px; }
  
  facets .facet li span.rating5 {
    background-position: 0px 0px; }
  
  #facets .facet li span {
    &.rating4 {
      background-position: -15px 0px; }
    &.rating3 {
      background-position: -30px 0px; } }
  
  .customerRating .disabled .ratingList {
    opacity: 0.3; }
  
  /*------------ size -----------------*/
  
  .button-options {
    overflow: hidden; }
  
  .buttonFacet {
    .mvNarrowChild {
      padding: 8px 0;
      height: auto!important; }
    &.selected .mvNarrowChild {
      height: auto!important;
      padding: 0px 10px; } }
  
  .groupSelectItem {
    float: left;
    text-align: center;
    min-width: 30px;
    padding: 5px;
    border: 1px solid #ddd;
    margin: 5px; }
  
  .buttonFacet {
    &.selected .button-options {
      float: left; }
    .button-options div.disabled {
      opacity: 0.3;
      z-index: 1; } }
  
  .facet.buttonFacet.selected .show-all {
    margin-top: 5px; }
  
  /*--------- price -----------*/
  
  .priceRangeValue {
    padding: 10px; }
  
  .priceTextValue {
    padding: 5px;
    margin-right: 5px;
    width: 40px; }
  
  /*-----Price popup -------*/
  
  .mask {
    position: absolute;
    top: 0px;
    background: #333;
    opacity: 0.6; }
  
  .floatLeft {
    display: none !important; }
  
  .yui-panel-container {
    left: 0px !important;
    background: #fff;
    color: #000;
    padding: 15px;
    -webkit-border-radius: 10px;
    -webkit-background-clip: padding-box;
    -webkit-box-shadow: #333 1px 1px 4px;
    margin: 0 15px;
    margin-top: -30px;
    position: absolute; }
  
  .okBtn {
    display: block;
    margin-top: 10px; }
  
//  #customPriceNoResultsMsgPanel_c {
//    top: 600px !important; }
  
  .everydayValue {
    display: block;
    margin-bottom: 5px; }
  
  /*------- sort by -------*/
  
  #filterSort {
    padding: 0 10px;
    overflow: hidden; 
		select {
			max-width: 110px;
		}
	}
  
  #sortBy {
    margin-top: 8px; }
  
  /*-------- item amount -----------*/
  
  #breadcrumbs {
    padding-top: 4px;
    font-weight: bold; }
  
  .breadCrumb_productCount > span {
    &:nth-of-type(3), &:nth-of-type(4) {
      display: none; } }
  
  /*----------- different layout view -------------*/
  
  .mvlistViewBtn, .mvColumnViewBtn {
    width: 38px;
    height: 38px;
    display: inline-block;
    float: right; }
  
  .mvlistViewBtn {
    //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/browse_row.png) no-repeat; }
//    background: url(../../images/css/browse_row.png) no-repeat; }
}
  
  .mvColumnViewBtn {
    //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/browse_column.png) no-repeat;
//    background: url(../../images/css/browse_column.png) no-repeat;
    opacity: .5; }
  
  .mvColumnView {
    .mvColumnViewBtn {
      opacity: 1; }
    .mvlistViewBtn {
      opacity: .5; }
    .productThumbnail {
      display: block;
      padding: 0;
      border: 1px solid #ddd !important;
      margin: 2px;
      float: left; }
    .thumbnailImage {
      width: 152px !important;
      height: 186px !important; }
    .productThumbnail > a {
      padding-right: 0px;
      display: inline; }
    .moreColors > span, .mvProductThumbWrapper {
      display: none; } }
  
  .weRecommendFooter {
    display: none; }
  
  .mvColumnView {
    #thumbnails {
      padding: 2px; }
    &#weRecommendThumbnails {
      padding: 2px;
      border-top: 1px solid #999; }
    .offers.crossfadeOffers, .shortDescription, .prices, .priceEvents {
      display: none; } 
      }
       .priceSale {
          font-weight:normal;
        }
  /*---------- product -------------*/
  
  .productThumbnail {
    border-top: 1px solid #999;
    padding: 10px;
    overflow: hidden;
    position: relative;
    height: auto !important;
    > a {
      float: left;
      display: inline-block;
      padding-right: 10px; }
    > .crossfadeOffers, > .shortDescription, > .prices {
      width: 65%;
      float: right; }
    > .priceEvents {
      width: 65%;
      float: right;
      margin-bottom: 5px; } }
  
  .mvProductThumbWrapper {
    float: right;
    width: 65%; }
  
  .thumbnailImage {
    width: 82px !important;
    height: 100px !important; }
  
  .shortDescription {
    padding-bottom: 5px;
    a {
      color: #3a3a39; } }
  
  .offers.crossfadeOffers {
    > .productThumbnailLink {
      display: block;
      padding-bottom: 5px;
      clear: both; }
    overflow: hidden; }
  
  .morecolorImgli span, .morecolors span {
    border: 1px solid #CCC;
    float: left;
    height: 15px;
    width: 15px;
    margin: 5px 10px 5px 0;
    display: block; }
  
  .prices {
    font-weight: bold; }
  
  .priceSale, .badgeHeader {
    color: #E70000;
    padding-top: 5px;
    display: block; }
  
  .priceEvents {
    color: #e70000;
    padding-bottom: 5px; }
  
  .overlayImgBox, #quickViewAddToBag_c {
    display: none !important; }
  
  .morecolorsHidden {
    display: none; }
  
  ul.morecolors > li {
    &:nth-of-type(7), &:nth-of-type(8) {
      display: none; }
    &:nth-of-type(6) {
      padding-right: 15px;
      display: inline-block;
      background: url("../../images/css/3dot.png") no-repeat right; } }
  #badgeTriangle { display:none !important;}
  /*------------- pagination ---------------*/
  
  .pagination {
    padding: 12px 0 10px 0;
    overflow: hidden;
    text-align: center;
    font-size: 17px;
    vertical-align: middle;
    clear: both;
    a {
      padding: 0 10px;
      text-decoration: underline; } }
  
  #paginateTop {
    border-top: 1px solid #444; }
  
  .pagination a.currentPage {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal; }
  
  .pageText {
    font-size: 14px; }
  
  .nextClass, .previousClass {
    display: none; }
  
  .arrowLeft {
    // @extend .opt-sprite-prev_icon;
    width: 15px;
    height: 27px;
    display: inline-block;
    float: left;
    margin-top: -3px; 
    margin-left: 10px;}
  
  a.arrowRight {
    // @extend .opt-sprite-next_icon;
    width: 15px;
    height: 27px;
    display: inline-block;
    float: right;
    margin-top: -3px;
    padding: 0 10px; }
  
  .altCrossfadeImage {
    display: none; }
  
  #customPriceMsgPanel_c {
    position: absolute !important; }
  
  #weRecommend {
    height: auto !important;
    padding-bottom: 1px;
    border-bottom: 2px solid #555;
    overflow: hidden; }
  
  #weRecommend.promoSectionHeader {
    border-bottom: none;
    background: #EFEFEF; }
  
  #weRecommendThumbnails {
    -webkit-box-shadow: #dddddd 0px -3px 5px inset;
    border-bottom: 1px solid #999;
    overflow: hidden; }
  
  /*------hide popup at begin-------*/
  
  .hidden, #quickView_c {
    display: none; }
  
  /*brand list*/
  
  .macys-box h2 {
    padding: 10px; }
  /*-------recommentd-------*/
  
  .promoSectionHeader {
    padding: 8px 10px;
    border-top: 1px solid #555;
    border-bottom: 1px solid#555;
    -webkit-box-shadow: inset 0px -3px 4px #e5e5e5;
    font-size: 15px;
    color: #444;
    a {
      color: #444; } }
  
  /*---------filter mask----------*/
  
  .mvNarrowMask {
    width: 100%;
    height: 10000px;
    background: rgba(120, 120, 120, 0.85);
    position: absolute;
    top: 110px;
    z-index: 1; }
  
  /*--------single brand pages--------*/
  
  #thumbnails1header, #thumbnails2header {
    width: 320px;
    overflow: hidden; }
  #thumbnails2header { 
    border-top:1px solid #999;
    }
  #yui-history-iframe {
    display: none; }
  
  /*------------blackberry only-------------*/
  
  .mvBBbrowse {
    .mvColumnViewBtn, .mvlistViewBtn {
      display: none; }
    #filterSort {
      padding: 2px 10px 10px 10px; } }
      
    #loading_mask {
      display:none !important;
    }
    }
