.mw_bv_sweeps  {
  .mw_img_replace {
    > div:first-child {
      margin: 10px;
    }
    > div:last-child {
      padding: 10px;
    }
    h1 {
      font-size: 32px;
      line-height: 1;
    }
    div > span {
      font-size: 17px;
      &:last-of-type {
        color: #e70000;
      }
    }
    .mw_linear_bg {
      background: #efefef;
    }
    h2 {
      font-size: 20px;
    }
    ul {
      list-style: decimal;
      margin-left: 20px;
    }
    h3 {
      color: #e70000;
      display: inline;
      font-size: 19px;
    }
    a {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  #macysGlobalLayout > div:last-child {
    margin: 10px;
    word-wrap: break-word;
    h1 {
      color: #e70000;
      font-size: 19px;
    }
  }
}
