.mw_coupons {
  #doc3 {
    text-align:center;
  }
  #mobileCouponWrapper {
    // @include box-sizing(border-box);
    margin:10px;
    padding:10px;
    border:2px dashed #333;
    .dateRange, .instructionsTop, .redHeaderOne, .QR_CodeNumber, .QR_Code, #redHeaderTwo, .blackHeader, .mobileCouponImage_Sale, .mobileCouponLegal, .redSaleMessage, .redHeaderTwo {
      margin-left: 2%;
      margin-right: 2%;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .instructionsTop {
      font-size:1.4em;
    }
    .redHeaderOne, .redHeaderTwo {
      color: #C00;
      font-size: 2em;
      font-weight: bold;
    }
    .QR_CodeNumber {
      font-weight:bold;
    }
    .mobileCouponLegal {
      font-size:.7em;
      color:#000;
      text-align:left;
    }
    .blackHeader {
      font-size:1.6em;
    }
    .redSaleMessage {
      color:#C00;
      font-weight:1.4em;
    }
    #redHeaderTwo {
      color: #C00;
      font-size: 1.2em;
    }
    img[src*='macysWowPass'] {
      width: 100%;
    }
  }
  .instructionsBottom {
    color:#000;
    text-align:left;
  }
}