.mw_giftCard {
.hidden, #filterPPP, .overlayImgBox {
  display: none; }

.yui-panel-container {
  visibility: hidden;
  position: absolute; }

#yui-history-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  visibility: hidden; }

.imageLink.productThumbnailLink {
  display: block;
  text-align: center; }

.current.cat {
  float: left; }

.parentCategories.cat {
  float: right; }

#breadcrumbs {
  padding: 10px;
  background: #7E7E7E;
  color: white;
  font-weight: bold; }

#categoryParent {
  color: #666;
  float: right;
  font-size: 11px;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  -webkit-border-radius: 6px;
  border: 1px solid #DDD; }

#filterSort {
  display: block;
  padding: 9px 10px;
  border-bottom: 2px solid #444; }

.pagination {
  padding: 5px 10px; }

.productThumbnail {
  float: left;
  width: 154px;
  padding-bottom: 5px;
  min-height: 216px;
  border: 1px solid #ccc !important;
  margin: 2px; }

.shortDescription > a {
  padding: 0 10px;
  color: #3A3A39;
  display: block;
  width: 130px;
  font-size: 13px; }

.thumbnailItem {
  float: left;
  overflow: hidden; }

.clearFloats {
  display: none; }

.thumbnailImage {
  width: 150px !important;
  height: 184px !important; }

/*------------- pagination ---------------*/

.pagination {
  padding: 12px 0 10px 0;
  overflow: hidden;
  text-align: center;
  font-size: 17px;
  vertical-align: middle;
  clear: both;
  a {
    padding: 0 10px;
    text-decoration: underline;
    &.currentPage {
      color: #333333;
      text-decoration: none;
      font-size: 16px;
      font-weight: normal; } } }

.pageText {
  font-size: 14px; }

.nextClass, .previousClass {
  display: none; }

.arrowLeft {
  //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macys/page/prev_icon.png) right no-repeat;
  background: url(../../images/css/prev_icon.png) right no-repeat;
  width: 20px;
  height: 27px;
  display: inline-block;
  float: left;
  margin-top: -3px; }

.arrowRight {
  //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macys/page/next_icon.png) left no-repeat;
  background: url(../../images/css/next_icon.png) left no-repeat;
  width: 20px;
  height: 27px;
  display: inline-block;
  float: right;
  margin-top: -3px;
  padding: 0 10px; }
}
