.masked select {
  _visibility: hidden; }

.yui-panel-container {
  .rounded .hd {
    top: -10px; }
  visibility: hidden;
  position: absolute; }

.yui-panel {
  position: relative;
  *zoom: 1;
  left: 0;
  top: 0;
  border: 1px solid #ccc;
  .hd, .bd {
    *zoom: 1;
    *position: relative; } }

.yui-panel-container {
  .container-close {
    position: absolute;
    top: 5px;
    right: 6px;
    width: 47px;
    height: 16px;
    background: url(/img/icons/icon_close_transparent.gif);
    cursor: pointer;
    display: block; }
  select {
    _visibility: inherit; } }
