.mw_home_bb{
  .mvHomelinks {
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 210px;
  }
  .mvHomeIcons {
    width: 205px;
  }
  .mvHomeMainImg {
    margin-top: -50px;
    display: block;
  }
}
