
.mw_NoPassthroughpages {
&#mvPricePolicy {
  #doc3 > table {
    margin-top:40px !important;
  }
}  
//https://mlocal.preprod6macys.fds.com/sns/content/storecard.jsp?aurl=https://www.preprod6macys.fds.com  
&#mvStoreCradBody {
  .popupBranding {border-bottom:1px solid #999;
  }
  .popupContentStore {
    padding:10px;
    .mvRedFont {
      padding:10 0;
      font-weight:bold;
    }
    ul.popstoreCard {
      list-style: disc;
      margin-top: 10px;
      padding-left: 20px;
      li.popupli {
        padding:5px 0;
        .formFeature{
          color:#e70000;
        }
      }
    }
  }
}

//https://mlocal.macys.com/sns/content/benefits.jsp?aurl=https://www.macys.com
&#mvBenefitsBody {
  h1#popupBannerTop {
    color:#e70000;
    font-weight:bold;
    padding:10px 0;
    font-size:15px;
  }
  ul.popupBannercontent {
    list-style: disc;
    margin-top: 10px;
    padding-left: 20px;
    li{
      padding:5px 0;
      
      }
    
  }
}
&#mvRugBody {
  #doc3 > div {
  > div:first-of-type {
    border-bottom:1px solid #999;
  }
  > div:nth-of-type(2) {
    padding:0 10px;
  }
}
}
&#mvReviewPopup {
  .BVRRDocumentation{ 
    padding:10px;
    a {
      color: #3A3A39;
      text-decoration:underline;
    }
    }
  .BVRRDocumentationHeader {
    font-weight:bold;
  }
  p{
    padding:10px 0;
  }
  ul {
    -webkit-padding-start: 25px;
    display: block;
    list-style-type: disc;
  }
  .BVRRCloseWindowLinkDiv {
    text-align:left;
    
  }
}



}