.mw_offer {
.productDetailSale {
  color: red;
  font-weight: bold;
}
.mvTitle {
  font-size: 15px;
  color: #666666;
  padding: 8px 10px; }
.productThumbSale {
  font-weight:bold;
  color:#e70000;
}
.mvOffersPageTitle {
  padding: 10px;
  color: #e70000;
  font-size: 20px;
  margin-top: 1px;
  border-top: 2px solid #555; }

.productThumb.productThumbBorder {
  overflow: hidden;
  text-align: center;
  img {
    margin: auto;
    border: 1px solid #999; } }

.productDetailShort {
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 15px; }

h1.mvOfftersProductContent {
  padding: 20px 15px;
  .productDetailLong {
    padding-bottom: 10px;
    display: block; }
  > div:first-of-type {
    padding-bottom: 10px; } }

.mvOtherOffersItemWrapper > div {
  overflow: hidden;
  padding: 10px;
  > span {
    &:first-of-type {
      display: block;
      float: left;
      padding-right: 10px;
      width: 84px;
      img {
        border: 1px solid #999; } }
    &:last-of-type {
      display: block;
      float: left;
      width: 60%;
      a {
        display: block;
        padding: 5px 0; } } } }

.bonusOfferContentContainer form {
  overflow: hidden;
  -webkit-box-shadow: inset 0px -3px 4px #e5e5e5; }

.generalError.errorText {
  padding: 20px 10px; }

.mvOtherOffersTitle, .mvOtherQualifyTitle {
  padding: 6px 10px;
  -webkit-box-shadow: inset 0px -3px 4px #e5e5e5;
  font-size: 17px;
  color: #444;
  display: block;
  text-transform: capitalize;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #999; }

.mvOtherOffersItemWrapper {
  -webkit-box-shadow: inset 0px -3px 5px #cccccc;
  overflow: hidden;
  background: #EFEFEF;
  border-bottom: 1px solid #999; }

.PDP_restrictions {
  padding-bottom: 10px; }

.mvOfferColorIcon {
  padding: 10px 10px 0 10px; }
}
