.mw_popup {
/*------------http://www1.moov1.macys.com/r60x39_registryTableTop_popup.jsp------------*/

.text19.red {
  font-size: 20px;
  color: #e70000;
  font-weight: bold; }

a.text14 {
  color: #3A3A39;
  text-decoration: underline; }

.heavy {
  font-weight: bold; }

.text30.red {
  font-size: 28px;
  color: #e70000;
  font-weight: bold; }

/*--------POPUP window---------*/

.moovweb_footer {
  display: none; }

.popupBranding {
  padding: 10px; }

.myDynPopupHeaderText {
  font-size: 18px;
  color: #CC0033; }

.myDynPopupSubHeaderText {
  color: #CC0033;
  padding: 5px 0; }

.myDynPopupBoldText {
  color: #777777;
  font-style: italic; }

.myDynPopupDisclaimerText {
  padding: 10px 0; }

.popupContainer {
  background: #fff; }

.mvPopupClose {
  > a:first-of-type {
    display: inline-block;
    padding: 10px 0 10px 10px; }
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 0 !important; }

/*-----------rug gallery----------*/

.Collapsed {
  display: none; }

.Expanded {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #999;
  > div > div {
    border-bottom: 1px dashed #999;
    padding: 10px 5px;
    &:first-of-type {
      padding-top: 0px; }
    &:last-of-type {
      margin-bottom: 10px; }
    > span {
      display: block; } } }

.mvRugRowSelector.mvDarkGrayBar a {
  color: white; }

.rugRowClass1 > div > a, .rugRowClass2 > div > a {
  display: block;
  padding: 10px; }

.rugRowClass1 a, .rugRowClass2 a {
  color: #3A3A39;
  text-decoration: underline; }

.BannerMinIconLink {
  text-decoration: none !important; }

.rugRowClass1 > div {
  background: #eee; }

.mvPopupTitle {
  padding: 10px; }

/*--------size chart--------*/

.mvSizeChart a {
  color: #3A3A39;
  text-decoration: underline; }

.popupTable img {
  width: 100%; }
}

.mw_popup {
/*------------http://www1.moov1.macys.com/r60x39_registryTableTop_popup.jsp------------*/

.text19.red {
  font-size: 20px;
  color: #e70000;
  font-weight: bold; }

a.text14 {
  color: #3A3A39;
  text-decoration: underline; }

.heavy {
  font-weight: bold; }

.text30.red {
  font-size: 28px;
  color: #e70000;
  font-weight: bold; }

/*--------POPUP window---------*/

.moovweb_footer {
  display: none; }

.popupBranding {
  padding: 10px; }

.myDynPopupHeaderText {
  font-size: 18px;
  color: #CC0033; }

.myDynPopupSubHeaderText {
  color: #CC0033;
  padding: 5px 0; }

.myDynPopupBoldText {
  color: #777777;
  font-style: italic; }

.myDynPopupDisclaimerText {
  padding: 10px 0; }

.popupContainer {
  background: #fff; }

.mvPopupClose {
  > a:first-of-type {
    display: inline-block;
    padding: 10px 0 10px 10px; }
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 0 !important; }

/*-----------rug gallery----------*/

.Collapsed {
  display: none; }

.Expanded {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #999;
  > div > div {
    border-bottom: 1px dashed #999;
    padding: 10px 5px;
    &:first-of-type {
      padding-top: 0px; }
    &:last-of-type {
      margin-bottom: 10px; }
    > span {
      display: block; } } }

.mvRugRowSelector.mvDarkGrayBar a {
  color: white; }

.rugRowClass1 > div > a, .rugRowClass2 > div > a {
  display: block;
  padding: 10px; }

.rugRowClass1 a, .rugRowClass2 a {
  color: #3A3A39;
  text-decoration: underline; }

.BannerMinIconLink {
  text-decoration: none !important; }

.rugRowClass1 > div {
  background: #eee; }

.mvPopupTitle {
  padding: 10px; }

/*--------size chart--------*/

.mvSizeChart a {
  color: #3A3A39;
  text-decoration: underline; }

.popupTable img {
  width: 100%; }
}