.mw_receipt {
.mvErrorBox > br,  #printOfferPop_c, .mvShippingContainer + div > br {
  display: none; }

  #confirmPageCreateProfile {
    padding:5px;
    #mobilePhoneNumber input {
      width:60px !important;
    }
    .standard_checkout {
      display: inline-block;
      padding-right: 5px;
      text-align: left;
      font-weight: bold;
      width:110px;
      font-size:13px;
    }
    label[for="birthdate"]{
      display: block;
      padding-bottom: 5px;
    }
    .mvNewProfileInput {
      width: 140px;
    }
    .mvNewProfileRow {
      padding: 5px;
    }
  }
  .yui-panel-container{
    position: absolute;
    visibility: hidden;
  }
  #myTooltip{
    position:absolute;
  }
  .lty_promoBarcode > span {
    display:block;
  }
  .lty_offers{
    padding-top:10px;
    margin-top:10px;
    border-top:1px solid #999;
    overflow:hidden;
  }
  .lty_header { 
    margin-bottom:10px;
    }
  #exclusionsPop_c { 
    background:#fff;
    padding:10px;
    margin:10px;
    -webkit-border-radius:5px;
    .gainlayout {
      clear:both;
      .exclusions_content {
        margin:10px 0;
      }
    }
  }
  #checkoutConfirmation {
    .generalError{
      padding:10px;
      margin:10px 10px 0 10px;
      border:1px solid #e70000;
    }
     a {
        color: #3A3A39;
        text-decoration: underline; }
      > img, > br {
        display: none; } 

    .mvDarkGrayBar {
      padding: 10px; } }
  .mvItemContent > span {
    &:nth-of-type(1) {
      vertical-align: top;
      display: inline-block;
      margin-right: 5px; }
    &:nth-of-type(2) {
      display: inline-block;
      width: 75%; } }
  .mvItemData {
    padding: 5px 0;
    margin: 5px 0;
    border-top: 1px dotted #CCC;
    text-align: right;
    > span {
      display: inline-block;
      padding: 0 5px; } }
  .promoPrice {
    color: #ef0000; }

  .mvPricRow {
    padding: 3px 0;
    overflow: hidden;
    > span:nth-of-type(2) {
      float: right; } }
  .mvRegistryItemStart {
    padding: 10px 5px 0 10px;
    display: block;
    .shippingDetails_registrantAddress_giftIcon {
      margin: -5px 5px 0 0px; }
    strong {
      font-weight: normal;
      margin-top: 6px;
      display: inline-block; } }
  .generalError.errorText {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 5px 0 5px; } 

    #macysorderconfirmsecurityqna_Overlay {
      margin-top: 10px;
      .yui3-widget-hd {
        overflow: auto;
        #close {
          float: right;
          margin: 5px;
        }
      }
      .yui3-widget-bd {
        #qaOverlay {
          > div {
            h1{
              background: none;
              border-bottom: none;
              border-radius: 0px;
              padding: 10px;
              font-weight: bold;
              text-transform: capitalize;
            }
          }
          ul.securityContent {
            > li {
              padding: 0 10px 10px 10px;
              &#ResetData {
                width: auto !important;
                font-size: 14px !important;
              }
              #securityAnswer {
                padding: 5px;
              }
              #ordersecurityqna {
                width: 200px;
              }
              #secqnabtn {
                @include red_button;
              }
            }
          }
        }
      }
    }


  }
