.mw_registryCate {
#yui-history-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  display: none; }

.yui-panel-container {
  position: absolute; }

/*---------catalog title---------*/

#nav_title h1 {
  display: inline; }

.promoSectionHeader {
  padding: 8px 10px;
  border-top: 1px solid #555;
  border-bottom: 1px solid#555;
  -webkit-box-shadow: inset 0px -3px 4px #e5e5e5;
  font-size: 15px;
  color: #444;
  a {
    color: #444; } }

/*--------------catalog Nav--------------*/

.nav_cat_sub_4 > li > div {
  background: #F9F9F9;
  border-bottom: 1px solid #222;
  > a {
    padding-left: 30px; } }

/*---------- filter -----------*/

#filters {
  #filterPPP {
    display: none; }
  padding: 0px 10px;
  overflow: hidden;
  border-top: 1px solid #999; }

#filterSort select {
  display: inline-block;
  margin: 9px 5px;
  width: 100px; }

/*------------- breadcrumbs --------------*/

#breadcrumbs {
  overflow: hidden;
  background: #7E7E7E;
  padding: 0 5px;
  margin-top: 1px;
  > .depthPathLinked {
    float: left;
    display: block;
    line-height: 160%;
    padding: 5px;
    color: white; } }

.depthPathActive {
  float: left;
  display: block;
  line-height: 160%;
  padding: 5px;
  color: white; }

#breadcrumbs a {
  color: #fff;
  text-decoration: underline; }

/*----------- different layout view -------------*/

.mvlistViewBtn, .mvColumnViewBtn {
  width: 38px;
  height: 38px;
  display: inline-block;
  float: right; }

.mvlistViewBtn {
  //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/browse_row.png) no-repeat;
  background: url(../../images/css/browse_row.png) no-repeat;
  opacity: .5; }

.mvColumnViewBtn {
  //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/browse_column.png) no-repeat;
  background: url(../../images/css/browse_column.png) no-repeat;
  margin-left: 10px; }

/*---------- product -------------*/

.productThumbnail {
  border-bottom: 1px solid #999;
  padding: 10px;
  overflow: hidden;
  > a {
    float: left;
    display: inline-block;
    padding-right: 10px; } }

.mvProductThumbWrapper {
  float: right;
  width: 65%; }

.shortDescription {
  padding-bottom: 5px;
  a {
    color: #3a3a39; } }

.moreColors {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, black));
  background-color: #000000;
  -webkit-border-radius: 5px;
  text-shadow: #999999 0px -1px 0px;
  -webkit-box-shadow: #ddd 0px 1px 2px;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  margin-bottom: 5px; }

.prices {
  font-weight: bold; }

.priceSale {
  color: #E70000;
  padding-top: 5px;
  display: block; }

#offers {
  overflow: hidden;
  margin-bottom: 5px; }

/*------------- pagination ---------------*/

.pagination {
  padding: 5px 10px;
  a {
    padding: 5px;
    display: inline-block; } }

.currentPage {
  padding: 5px;
  display: inline-block; }

#paginateTop {
  border-top: 2px solid #444; }

#customPriceMsgPanel_c {
  position: absolute !important; }

/*------hide popup at begin-------*/

.hidden, #quickView_c {
  display: none; }
}
