.mw_registry_tools {
//  error popup
#errorMsgPanel_c { 
  .hd.errorMsgPanelHd {
    padding:10px;
    color:#e70000;
    font-size:16px;
    font-weight:bold;
  }
  .errorMsgPanelBd {
    padding:10px;
  }
  .ft.errorMsgPanelFt {
    padding:10px;
    .continueBtn {
      @include red_button
    }
  }
  .brandPanelHeaderCloseDiv {
    img{
      display:none;
    }
  }
}
//this will cause see more brands close btn missing.
//#brandPanelHeaderCloseBtn {
//  background: none;
//  width: auto;
//  height: auto;
//}
  /* need this or else div#lockPanel_mask won't be inserted */
  .yui-panel-container {
    visibility: hidden;
    position: absolute;
  }

  /* styles from 11f pdp */
  /* bag popup related */
  #pdpAddToBagPanel_c {
    left: 0 !important;
    text-align: center;
    width: 100%;
    visibility: hidden;
  }
  #pdpAddToBagPanel, #addToRegistryModal {
    -webkit-border-radius: 5px;
    -webkit-box-shadow: #555 0px 0px 6px;
    background: #f1f1f1;
    display: inline-block !important;
    text-align: left;
    visibility: hidden;
    width: 90% !important;
    height: auto !important;
    .hd, .divCart_header {
      -webkit-border-radius: 5px 5px 0 0;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #cecece));
      border-bottom: 1px solid #ccc;
    }
    .divCart_itemHeader {
      background: image-url("css/redBag_icon.png") 0px 50% no-repeat;
      margin-left: 10px;
      color: #E70000;
      font-weight: bold;
      padding: 12px 0 8px 20px;
    }
    .bd {
      height: auto !important;
    }
    .atb_prod_img, .atr_con_img_div {
      float: left;
      > img {
        border: 1px solid #ddd;
        margin: 10px;
        width: 90px;
      }
    }
    .atb_prod_img + div {
      padding-top: 10px;
    }
    .regNames {
      color: #c00;
      font-weight: bold;
      padding-left: 5px;
      vertical-align: middle;
    }
    .atb_itemInfo, .atb_iteminfo_member {
      overflow: hidden;
      padding: 0 5px 10px 0;
    }
    .divCart_itemInfo {
      overflow: hidden;
      padding: 10px 5px 10px 0;
    }
  }
  #closeModal, #pdpatrDivClose {
    background: image-url("css/close_btn.png") no-repeat;
    color: #e70000;
    float: right;
    margin: 8px;
    width: 20px;
    height: 20px;
  }
  #atb_header, .divCart_itemHeader {
    background: image-url("css/redBag_icon.png") 0 50% no-repeat;
    margin-left: 10px;
    color: #E70000;
    font-weight: bold;
    padding: 12px 0 8px 20px;
    a {
      text-decoration: underline;
    }
  }
  .divCart_itemHeader {
    background: image-url("css/giftIcon.png") 0 50% no-repeat;
  }
  .divCart_item {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, white), color-stop(99%, #F1F0F0), color-stop(100%, #DEDEDE));
    border-bottom: 1px solid #c2c2c2;
    overflow: hidden;
  }
  .registryDivButton input {
    display: block;
    font-size: 16px;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
  }
  #atb_content {
    .atb_body {
      background: white;
     .atb_item {
       border-bottom:1px solid #ccc;
     }
    }
    .promoDescription, .youSaved {
      color: #e70000;
      font-size: 13px;
    }
    .promoDiscounted, .youSaved {
      font-weight: bold;
    }
    .atb_itemPriceInfo {
      margin-top: 10px;
    }
    .salePrice {
      color: #e70000;
    }
  }
  .atb_item {
    overflow: hidden;
  }
  #atb_lineItems .atb_item_text {
    font-weight: bold;
  }
  .sizeColorType {
    font-weight: bold;
  }
  #atb_footer {
    margin: 10px;
    .ftButtons {
      text-align: center;
      > img {
        display: block;
        margin: 0 auto 8px;
      }
    }
  }
  #atb_specialOffers {
    padding: 10px;
  }
  #specialOfferMsg {
    color: #e70000;
    display: block;
    font-weight: bold;
  }
  #pdpAddToBagItemsInfo {
    margin-bottom: 5px;
  }
  #pdpAddToBagSubTotal {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 15px;
  }
  #pdpMasterAddToBagPanel_c {
    display: block !important;
  }
  /* master bag/registry popup related */
  #pdpMasterAddToBagPanel, #pdpMasterAddToRegistryPanel {
    -webkit-box-shadow: 1px 4px 2px #999;
    background: white;
    border: 1px solid #ccc;
    height: auto !important;
  }
  #m_atb_header, #m_atr_header {
    float: left;
    font-weight: bold;
    margin: 15px 0 12px 18px;
  }
  #m_atb_header_text, #m_atr_header_text {
    margin-left: 5px;
    vertical-align: middle;
  }
  #m_atb_close, #m_atr_close {
    float: right;
    margin-right: 5px;
    text-align: right;
  }
  #m_atb_buttons, #m_atr_buttons {
    margin-bottom: 15px;
    text-align: center;
    .mvGrayBtn {
      display: inline-block;
      font-size: 13px;
      padding: 5px;
      text-align: center;
      width: 90px;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  /* end styles from 11f pdp */

  #internationalPanel1_c, #internationalPanel2_c {
    display:none !important;
  }
  /*-----------hide AD---------------*/
  
  #registryTopAd, .bvrMidAd, .hidden, .rmGlobalAd {
    display: none; }
  
  &#mvRegistryManagerBody {
    .mvPageMenu {
      margin: -7px 0 0 0; }
   .rmCompPromoAd a > img {
      width: 100%; } }
  
  /*-----------Manager Wedding registry----------*/
  
  #managerHeader a {
    text-decoration: underline; }
  
  .greeting {
    font-size: 18px;
    font-weight: bold;
    line-height: 200%; }
  
  #rightBlock {
    padding: 10px 0;
    border-top: 1px dotted #666;
    margin-top: 10px; }
  
  .giftCatGroupContainer {
    text-align: center; }
  
  #keepOrganized {
    display: none; }
  
  p.rsrPromo.hideText > span {
    display: block;
    padding-left: 5px; }
  
  h6.sectionHeader.rsrHeader.hideText {
    color: #e70000;
    font-size: 18px;
    padding-left: 5px; }
  
  p.rsrPromo.hideText > span {
    &.promoContent {
      color: #e70000;
      text-transform: uppercase;
      padding-top:5px;
      font-size:16px;
       }
    &:last-of-type {
      display: none; } }
  
  /*--------- Help --------*/
  
  &#mvRegistryHelpBody{ 
    .qa_item {
      border-bottom: 1px solid #ddd;
      padding: 10px;
      > a {
        display: block;
        &.moovweb_open {
          font-weight: bold;
          color: #000; 
        } 
      } 
    }
    .content {
      margin: 10px;
      -webkit-border-radius: 10px;
      -webkit-box-shadow: #555 1px 1px 4px;
      background: #fff; 
    }
    .content > .mvHelpGroup:last-of-type >.qa_item:last-of-type {
      border-bottom: none; 
    }
    .content > .mvHelpGroup:first-of-type .mvWhiteGrayBar {
      -webkit-border-radius: 10px 10px 0 0; 
    }
    .content > .mvHelpGroup:last-of-type .mvWhiteGrayBar {
      -webkit-border-radius: 0 0 10px 10px; 
    }
    .content > .mvHelpGroup:last-of-type .mvWhiteGrayBar.moovweb_open {
      -webkit-border-radius: 0 0 0 0; 
    }
  }
  .mvAnswer {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px dotted #999;
    background: #efefef; }
  
  .mvHelpGroup .mvWhiteGrayBar {
    padding: 10px; }

  /*---------------Rewards-------------------*/
  
  &#mvRewardBody {
    #rsrPostOccasionTitle, #rsrNotRegisteredTitle {
      line-height: 160%;
      padding-top: 10px;
      margin-top: 10px;
      border-top: 1px dashed #ddd;
      display: block; }
    .smallFont {
      font-size: 11px;
      color: #666;
      line-height: 150%;
      padding: 5px 10px;
      a {
        font-size: 11px;
        text-decoration: underline;
        color: #444; } }
    .topImageSection a, .tandc a {
      color: #3A3A39;
      text-decoration: underline; }
    .topImageSection img {
      width: 100%; } 
      .shadow {
        padding: 10px; }
        }
  
  .buttonRow {
    text-align: center;
    .textBetween {
      font-weight: bold;
      text-transform: uppercase; }
    > a {
      display: block;
      padding: 10px; 
      margin: 10px 15px;
    } 
  }
  
  .mvText18Red {
    font-size: 18px;
    color: #e70000; }
  
  .mvRSRtitle {
    margin-bottom: 10px; }
  
  
  /*---------reward enroll---------*/
  
  &#mvEnrollRewardBody {
    #registryStarRewardsVB {
      padding: 10px; }
    #rsrEnterCardHr {
      font-weight: bold;
      line-height: 200%;
      font-size: 15px;
      text-transform: capitalize;
      color: #E70000;
      padding: 10px 10px 0 10px; }
    #rsrAcceptHr {
      font-weight: bold;
      padding: 10px 0 5px 0;
      margin-top: 10px;
      border-top: 1px dotted #444;
      text-transform: capitalize; }
    #macysAccountNumber {
      margin: 10px 0;
      display: inline-block; }
      .generalError {
        //background: white url(https://moovweb-gage.s3.amazonaws.com/yupu/macys/alter_red.png) no-repeat 10px 10px;
        background: white url(../../images/css/alter_red.png) no-repeat 10px 10px;
        border: 1px dotted #DDD;
        display: block;
        line-height: 170%;
        padding: 5px 5px 5px 28px;
        color: #e70000;
        margin: 10px; }
       }
  
  /*------------ popup---------------*/
  
  .yui-panel-container {
    left: 0 !important;
    position: absolute;
    z-index: 37 !important;
    width: 100%; }
  
  #tandcPanel_c {
    top: 55px !important; }
  
  .yui-panel-container {
    .yui-overlay {
      width: 85% !important;
      background: #fff;
      margin: 0 auto;
      -webkit-border-radius: 6px;
      position: relative; }
    .gainlayout {
      padding: 10px; } }
  
  #innerErrorDisplay {
    color: #e70000; }
  
  .mask {
    width: 100% !important;
    position: absolute;
    background: rgba(120, 120, 120, 0.85);
    z-index: 36 !important; }
  
  #tandcPanel_mask {
    height: 1800px !important; }
  
  .yui-panel-container .gainlayout p br {
    display: none; }
  
  .container-close, #internationalPopUpClose1, #internationalPopUpClose2 {
    //background-image: url("https://www.macys.com/img/registry/close.gif") !important;
    background-image: url(../../images/css/close.gif) !important;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 48px; }
  
  .h_overlayTitleRed {
    color: #e70000;
    font-size: 15px;
    padding-bottom: 5px; }
  
  #conirmationPopup {
    padding: 10px 10px 0 10px;
    border: none; }
  
  #conirmationPopupOkBtn {
    margin-top: 10px; }
  
  #tandcPanel_c h2#tandcHdr {
    font-size: 17px;
    font-weight: bold;
    color: #e70000;
    padding-bottom: 10px; }
  
  /*---------------view registry--------------*/
  
    .registrantHeaderInfo {
      overflow: hidden; }
    .imageRowAdPool img {
      width: 100%; }
    #registrantHeaderInfo > .mvDarkBtn:last-of-type {
      margin-left: 10px; }
    .registrantName {
      font-weight: bold;
      font-size: 15px;
      color: #e70000;
      text-transform: capitalize; } 
  
  p.counterDaysLeft span.daysLeftNumber {
    width: 60px;
    color: #C00;
    font-weight: bold;
    //background-image: url("https://www.macys.com/web20/assets/img/registry/counter.gif");
    background-image: url(../../images/css/counter.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    display: block;
    padding: 6px 0;
    font-size: 22px; }
  
  .counterDaysLeft {
    float: right;
    text-align: center;
    margin: 5px; }
  
  .addToBagBt, .saveChangesBt {
    display: inline-block; }
  
    .sortBySelect {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 10px; }
    .disclaimerInfo {
      padding: 10px; } 
  
  .addToBagTop input, .addToBag input {
    margin: 0 10px 10px 10px; }
  
  .confirmDelete {
    display: none; }
  
  .registryTable {
    margin: 0 5px;
    -webkit-border-radius: 6px;
    border: 1px solid #ccc;
    background: #999;
    -webkit-box-shadow: #555 1px 1px 3px;
    > div:last-of-type .mvWhiteGrayBar {
      -webkit-border-radius: 0 0 6px 6px; }
    .mvWhiteGrayBar {
      padding: 10px; }
    > div {
      &:first-of-type .mvWhiteGrayBar {
        -webkit-border-radius: 6px 6px 0 0; }
      &:last-of-type {
        .mvWhiteGrayBar {
          -webkit-border-radius: 0 0 6px 6px;
          border-bottom: none; }
        .moovweb_open .mvWhiteGrayBar {
          -webkit-border-radius: 0 0 0 0;
          border-bottom: 1px solid #999; } } } }
  
  .upcOfferDesc {
    color: #e70000; }
  
  .upcDescription {
    margin-left: 10px;
    width: 70%;
    display: inline-block;
    a {
      font-size: 15px;
      text-decoration: underline; }
    .productName {
      color: #3A3A39; } }
  
  .mvRegistryCateItem.mvShadowBox {
    padding: 6px; }
  
  .upcLineItem {
    padding: 8px;
    &.upcRowSelectedClass {
      background: #eee; }
    input[type="text"] {
      width: 50px;
      margin: 5px 0; } }
  
  .requestedQty ul {
    overflow: hidden;
    li {
      display: inline-block; } }
  
  .mvRegistryItemLabel {
    font-weight: bold;
    width: 100px;
    display: inline-block; }
  
  .mvRegistryItemContent {
    overflow: hidden;
    span {
      float: left; } }
  
  .UPCPriceDetail {
    border: 1px dashed #CCC;
    padding: 5px;
    margin: 5px 0;
    .priceSale {
      color: #e70000; } }
  
  .itemLevelErrorMsg, .notForRegistryDiv {
    color: #e70000; }
  
  #bvrCompletionAd {
    text-align: center; }
  
  .completionDetails {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px dashed #ccc; }
  
  .upcOfferDesc {
    clear: both; }
  
  #gvrNoProductsPool img, #bvrNoProductsPool img {
    width: 100%; }
  
  /*--------------view wedding registry bag ----------------*/
  
  #addToBagPanel {
    -webkit-border-radius: 5px;
    -webkit-box-shadow: #555 0px 0px 6px; }
  
  .divCart_header {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #cecece));
    -webkit-border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #999; }
  
  .divCart_itemHeader {
    //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/redBag_icon.png) 0px 50% no-repeat;
    background: url(../../images/css/redBag_icon.png) 0px 50% no-repeat;
    margin-left: 10px;
    color: #E70000;
    font-weight: bold;
    padding: 12px 0 8px 20px;
    a {
      text-decoration: underline; } }
  
  #bagDivClose {
    float: right;
    color: #e70000;
    //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/close_btn.png) no-repeat;
    background: url(../../images/css/close_btn.png) no-repeat;
    width: 20px;
    height: 20px;
    margin: 8px; }
  
  .divCart_item {
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, white), color-stop(99%, #f1f0f0), color-stop(100%, #dedede));
    border-bottom: 1px solid #c2c2c2;
    dt, dd {
      display: inline-block; } }
  
  .bagDivButton {
    text-align: center;
    padding-top: 20px;
    input {
      margin: 4px 10px; } }
  
  .atb_con_img_div {
    float: left;
    img {
      width: 89px;
      border: 1px solid #DDD;
      margin: 10px; } }
  
  .divCart_itemInfo {
    float: left;
    width: 55%;
    padding: 10px 5px 10px 0; }
  
  .atb_item_text {
    font-weight: bold; }
  
  .divCart_wrapper .divCart_bottom {
    padding: 10px;
    background: #F1F1F1;
    -webkit-border-radius: 0 0 5px 5px; }
  
  .divCart_bottom.leftCol {
    overflow: hidden; }
  
  .atb_sub {
    font-weight: bold; }
  
  .divCart_button img {
    -webkit-border-radius: 5px;
    margin: 10px 5px; }
  
  .divCart_item #savedPrice {
    padding: 10px !important;
    clear: both;
    font-weight: bold; }
  
  .priceColorLabel, #savedPrice, .offerMessage, .offerDeductionPrice, .registrantInfo {
    color: #e70000; }
  
  /*---------find in store--------*/
  
  #storeav-oy {
    position: absolute !important;
    z-index: 100 !important;
    background: #fff;
    margin: 0 2%;
    width: 93% !important;
    -webkit-box-shadow: #555 0px 0px 6px;
    -webkit-border-radius: 5px; }
  
  #storeav-oy .ovr-hdr.cfx {
    border-bottom: 1px solid #999;
    overflow: hidden;
    padding: 25px 10px 10px 10px;
    position: relative; }
  
  #closeFindItInStoreOverlayDiv {
    position: absolute;
    right: 10px;
    top: 5px; }
  
  #prod-data > img {
    margin: 5px;
    float: left;
    border: 1px solid #ddd; }
  
  #prod-ul {
    display: inline-block;
    width: 70%;
    padding: 10px 0; }
  
  .barcode-trk, .print-btn {
    display: none; }
  
  #ftr-txt-prt {
    white-space: pre-wrap; }
  
  .ovr-bd-out {
    background: #EFEFEF;
    padding: 10px 6px;
    margin: 5px; }
  
  .label-zip, .label-city, .label-state {
    width: 50px;
    display: inline-block; }
  
  #f1City, #f1Zip {
    width: 70%;
    padding: 3px 5px; }
  
  #f1State {
    width: 75%; }
  
  .ovr-infrmb > div, .ovr-infrma {
    overflow: hidden;
    padding: 5px 0; }
  
  .ovr-infrmc {
    overflow: hidden;
    padding: 5px 0;
    width: 85%;
    text-align: center; }
  
  #storeav-oy {
    .submit-btn.button {
      display: block;
      margin: 5px 10px;
      font-size: 17px;
      padding: 8px; }
    .rslt-loc {
      background: white;
      margin: 5px 0px;
      padding: 10px; }
    .error-msg.cfx {
      //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macys/alter_red.png) no-repeat 0px 0px;
      background: url(../../images/css/alter_red.png) no-repeat 0px 0px;
      display: block;
      padding-left: 18px;
      margin: 10px 0;
      color: #e70000; }
    h2#stp-ttl {
      font-weight: bold;
      a {
        font-weight: normal;
        display: block;
        text-decoration: underline;
        color: #3A3A39; } } }
  
  #see-prevstrs {
    display: inline-block;
    text-decoration: underline;
    color: #3A3A39; }
  
  #see-nxtstrs {
    display: inline-block;
    text-decoration: underline;
    color: #3A3A39;
    float: right; }
  
  #cont-frm2 {
    clear: both;
    margin-top: 10px; }
  
  .map-n-dir {
    display: none; }
  
  .mask {
    position: absolute; }
  
  .mvErrorText .errorText, #localContentContainer > .error-msg {
    //background: white url(https://moovweb-gage.s3.amazonaws.com/yupu/macys/alter_red.png) no-repeat 10px 0px;
    background: white url(../../images/css/alter_red.png) no-repeat 10px 0px;
    display: block;
    padding-left: 28px;
    width: 80% !important; }
  
  #ftr-txt-prt > div {
    font-weight: bold; }
  
  #storeav-oy {
    .dp-a {
      font-weight: bold;
      color: #e70000;
      padding-bottom: 10px; }
    .ovr-bd-in {
      overflow: hidden; }
    .d-a > p {
      padding-top: 5px; }
    .d-c {
      color: #e70000; }
   .d-a > p > b {
      display: block; }
    .d-b {
      font-weight: bold;
      padding: 10px 0; } }
  
  #localContentContainer > .error-msg {
    margin: 0 0 10px 4px;
    color: #e70000; }
  
  #storeav-oy {
    .submit-btn.button.mvRedBtn.hidden, .error-msg.cfx.hidden {
      display: none; } }
  
  #MACYS_OverlayTransparentLayer {
    z-index: 36 !important; }
  
  /*----------view registry remove item popup-----------*/
  
  #confirmDeletePopup {
    .hd {
      padding: 10px 10px 0 10px;
      color: #e70000;
      font-size: 17px;
      font-weight: bold; }
    .bd {
      padding: 10px; }
    -webkit-border-radius: 8px;
    height: 150px !important; }
  
  #confirmDeletePopup_c {
    width: 100% !important;
    position: absolute;
    z-index: 37 !important; }
  
  #confirmDeletePopup_c .buttonWrapper {
    text-align: right; }
  
  #confirmDeletePopup_c .buttonWrapper input {
    margin: 10px; }
  
  #alertPopup {
    padding: 10px;
    margin: 0 2%; }
  
  #alertPopupOkBtn {
    margin-top: 10px; }
  
  /*----------------registry guest international shipping popup-------------------*/
  
  #internationalPanel1 {
    left: 0 !important;
    top: 300px !important; }
  
  #internationalPanel2 {
    left: 0 !important;
    top: 1100px !important; }
  
  #internationalPanel1_c, #internationalPanel2_c {
    width: 100% !important;
    position: absolute;
    background: rgba(120, 120, 120, 0.85);
    z-index: 11 !important;
    height: 3500px; }
  
  .internationalText, .internationalPopUpText {
    padding: 10px; }
  
  .internationalText {
    font-weight: bold;
    font-size: 15px; }
  
  .internationalInfoLinkContainer {
    display: none; }
  
  #loading {
    padding: 10px; }
  
  a.quicklook {
    color: #3A3A39;
    text-decoration:none;
    font-weight:bold; }
  
  /*-------------thanks card-------------*/
  
  &#mvThanksCardBody {
    .mvRegistryItemLabel {
      width: 120px; }
    .tbmark > div {
      padding: 10px;
      border: 1px solid #CCC;
      margin: 5px;
      -webkit-border-radius: 6px; }
    .tbmark > div > div {
      padding: 5px 10px; }
    .tbmark > div > div:nth-child(odd) {
      background: #eee; }
    .buttonRow {
      margin: 10px; } 
      }
  #thankyouSpoiler_c {
    h2#alertHdr {
      font-weight:bold;
      font-size:17px;
      color:#e70000;
    }
    .subtitle {
      font-weight:bold;
      padding:10px 0;
    }
    .buttonRow {
      text-align:right;
    }
  }
  /*-----------error------------*/

  
  #errMsgDiv {
    display: none; }
  
  #rsrNotEnrolledTitle {
    font-weight: bold;
  }
}
