.mw_registry {

  #bvrNoProductsPool { display:none;}
  .mvRegistryHomeImg img { 
    width:100%;
    border-bottom:1px solid #b8b7b7;
  }
  /*----------hide AD--------*/
  .globalAd {display: none;}

  /*-------------Registry form--------------*/
  .row.clearfix, .rowSelect.clearfix { 
    margin-right: 0px !important;
    overflow:hidden;
    padding:10px 0px;
    #whatsthis {
      float: left;
      margin: -4px 0 0 5px;
    }
    #secureQuestionWrapper {
      clear: both;
      padding: 5px 0 0 0;
    }
  }
  .row.clearfix label, .rowSelect.clearfix label { 
    display: inline-block;
    text-align: left;
    &[for="email"], &[for="registryId"] {
      min-width: 100px;
    }
  }
  #createAccountForm .row.clearfix label, #createAccountForm .rowSelect.clearfix label {	
    font-size:13px;
    width:100px; 
    font-weight:bold;
    &.mw_security_q {
      float:left;
      width: auto
    }
  }
  .registryCaptureEmail .row.clearfix label {
    width:140px;
    font-weight:bold;
    display: inline-block;
  }
  .h_allcapsGrey {
    font-weight:bold;
    text-transform:uppercase;
    padding:5px 0 10px 0;
  }
  .rowSelect > label { display:block; }
  .rowSelect > select { 
    margin-right:5px;
  }
  .rowRadio.clearfix, .rowCheckbox.clearfix,.rowSelect.clearfix { padding:5px 0;}
  .rowRadio.clearfix .multiline, .rowCheckbox.clearfix .multilineWide,.rowCheckbox.clearfix .multiline{ display:inline;}
  #registrySignInExistingVB > .message { padding-bottom:15px;}

  /* for the security question help layer */
  .yui3-widget { 
    left: 10px !important;
    #myPanelContent {
      .pannel {
        background-color: #fff;
        border: 1px solid #ccc;
        -webkit-box-shadow: 1px 1px 2px 0 #999;
        padding: 5px;
        width: 92%;
        position: relative;
        font-size: 12px;
        #close, .close {
          position: absolute;
          right: 5px;
          top: 0px;
        }
        .header, #questionHead { 
          font-weight: bold;
        }
      }
    }
  }

  /*------------ popup---------------*/
  .yui-panel-container { 
    left:0 !important;
    line-height:150%;
    position:absolute;
  }
  .yui-panel-container .yui-overlay { 
    width:94% !important;
    background:#fff;
    margin:0 auto;
    -webkit-border-radius:6px;
    position:relative;
  }
  .yui-panel-container .gainlayout { padding:10px;}	
  #innerErrorDisplay { color:#e70000;}

  .mask { 
    width:100% !important;
    position:absolute;
    background: rgba(120, 120, 120, 0.85);
  }

  .yui-panel-container .gainlayout p br { display:none;}
  .container-close {
    background-image: url("https://www.macys.com/img/registry/close.gif") !important;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 48px;
  }

  .h_overlayTitleRed, .h_noncapRed { 
    color:#e70000;
  }
  .h_overlayTitleRed { 
    font-size:17px;
    font-weight:bold;
    padding-bottom:10px;
  }
  .h_noncapRed.mvSubTitle	{ color:#fff;}
  /* !Registry Main Style Sheet */

  #loading_c {
    background: white;
    position: absolute !important;
  }
  #errorMessage {
    display: none;
  }
  .mvBoxSubTitle {
    float: right;
    display: block;
    font-size: 13px;
    font-weight: normal;
  }
  .mvLableTextField {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 8px auto;
  }
  .mvLableTextField > .mvLabel {
    float: left;
    display: block;
  }
  .mvLableTextField > input[type="text"],
  .mvLableTextField > input[type="password"],
  .mvLableTextField > select{
    float: right;
    display: block;
  }
  /* !Registry HomePage */
  .mvShadowBox{padding: 0;}
  .mvSubTitle {
    padding: 5px 10px;
    border:none;
    -webkit-border-radius: 3px 3px 0 0;
  }

  #accessInStore > a {
    color: #3A3A39;
    text-decoration:underline;
  }
  #cc2 form, #cc3 form {
    padding: 10px 10px 0 10px;
    overflow: hidden;
  }
  #cc1 > .mvFormBtnContainer { padding:0 10px;}
  #accessInStore {padding: 10px !important;}
  /* !Registry HomePage Logged In */
  #cc21 img {
    margin: 10px;
    float: right;
    height: 31px;
  }
  #updateButton, #findButton { 
    float:right;
    margin-bottom:10px;
    height: 31px;
    width: 93px;
    -webkit-border-radius: 0px 0px 0 0;
  }
  #createButton {
    float:right;
    margin:10px;
    height: 31px;
    width: 93px;
  }
  /* !Create a Registery Account Login Page */
  .registryCreateAccount #bd { 
    overflow:hidden;
    padding-bottom:10px;
  }
  /* Fixing the Password section for Dont Have Macys.com Profile */
  #pswMessage { 
    display:inline-block;
    overflow:hidden;
  }
  .pswdHint {
    padding-top:5px;
  }
  .message > br { display:none;}
  #pswMessage a {
    display: block;
    padding: 5px 0px;
    color: #3A3A39;
    text-decoration: underline;
    font-weight:bold;
  }
  .mvPasswordContainer {
    float: none !important;
    width: 100%;
    display: block;
    overflow: hidden;
  }

  &#mvCreateNewRegistry {
    #signInForm .clearfix label{
      font-weight:bold;
      width:135px;
    }
    .mvLableTextField > .pswdHint{
      float: right;
      width: 100%;
      display: block;
      text-align: right;
    }
    .mvLableTextField > .pswdHint br {
      display: none;
    }
  }

  /* !Create a New Regsitry Step#1 */
  .mvEventDetailsWrapper select {float: right;}
  #estimatedNoOfGuests {
    float:none;
  }
  &#mvCreateNewRegistryStep1 {
    .mvSubTitle {
      padding:10px;
      -webkit-border-radius:0px;
    }
    label[for="contactBirthDate.month"]{
      display:block !important;
      margin-bottom:5px;
    }
    select[id="userProfile.contactInfo.address.state"],select[id="registry.shippingAddress.state"], select[id="registry.coRegistrantContactInfo.address.state"] { width:160px !important;}
    .mvEventDetails  label {
      width:250px !important;
      display:block;
      margin-bottom:5px;
    }
    .section{padding: 10px;}
    .mvSecondaryTitle{
      font-size: 15px;
      font-weight: bold;
      padding: 5px 0;
    }
    .mvSecondaryTitle:first-letter{text-transform:uppercase;}
    input[name="registry.coRegistrantAddressFromRegistrant"]{
      float: none; 
      display: inline;
    }
    input.phone3digs, input.phone4digs {
      width: 30px;
      float: none;
      display: inline;
    }
    select[name="registry.eventDetails.preferedStore.rsfNumber"] { max-width:260px;}
    label[for="userProfile.contactInfo.mobilePhone.areaCode"] { width:auto;}
    #buttonRow { 
      padding:10px;
      overflow:hidden;}
    }
    .mvEventDetailsWrapper div[class*="row"]{margin: 10px 0; overflow: hidden;}


    .topSection br {display: none;}

    input.phone4digs{width: 40px;}

    .mvContactInformation select{float: right;}
    .mvRegistryPref .rowRadio,
    .mvRegistryPref .rowCheckbox{overflow: hidden; }
    .mvRegistryPref .rowRadio > input, 
    .mvRegistryPref .rowCheckbox > input{
      float: left;
      width: 13px;
      height: 13px;
      margin-top: 3px;
    }
    .mvRegistryPref .rowRadio > div,
    .mvRegistryPref .rowCheckbox > div{
      float: left;
      width: 90%;
    }
    #whyAskingLink {
      display: block;
      margin: 10px 0;
    }

    #registryContainer #createAccountForm a {
      color: #3A3A39;
      text-decoration:underline;
    }


    /*-------------- create registry future address-----------------*/
    #futureAddressBlock { 
      > .rowSelect.clearfix {
        label {
          display:block;
          padding-bottom:5px;
        }
      }
      padding:10px;
      border: 1px dashed #ddd;
      margin-top:10px;
    }
    #viewOptionsPop_c ul {
      list-style: disc;
      padding-left: 20px;
      margin-bottom:20px;
    }
    /* Register Button */

    #buttonRow br {display: none;}
    #buttonRow input{

      display: block;
    }
    #buttonRow > p {
      display: block;
      float: right;
      margin-top: 10px;
      color: #555;
    }
    .buttonRow.clearfix { 
      padding-top:10px;
    }
    select[id="registry.futureShippingAddress.state"] {
      width:160px;
    }
    &#mvRegistrySigninBody {
      label { 
        display: inline-block;
        text-align: left;
        &[for="email"], &[for="registryId"] {
          min-width: 120px;
        }
      }
      #verifyEmailBtn {
        text-decoration:underline;
        color: #3A3A39;
      }
      .halfBlockLeft ul {
        list-style: disc inside;
      }
      #captureEmailLink { 
        display:block; 
        margin-top:10px;
      }
      #signIn { padding-bottom:0px;}
    }
    #forgotEmail {
      display: block;
      margin: 10px 0;
      float:none;
    }
    .mvRegHelp { color:#e70000;}
    .mvRegHelp a { text-decoration:underline;}
    #registrySignInVB, #registrySignInExistingVB {
      .row.clearfix label {
        font-weight:bold;
        width:135px;
      }
    }
    /*---------------registry claim-------------------*/
    #claimFields a {
      color: #3A3A39;
      text-decoration:underline;
    }
    &.registryClaim{
      #registrySignInVB {
        padding:10px;
      }
      #message {padding-bottom:10px;}
    }
    &.registryClaimVerify{
      .message { padding-bottom:10px;}
      #pswMessage { padding:15px 0 5px 0;}
    }
    /*--------search result -------*/
    &.registrySearch {
      .mvShadowBox { padding:0px; }
      .mvSubTitle { 
        line-height:130%;
        font-size:14px;
        -webkit-border-radius: 3px 3px 0 0;
      }
      #newSearchSubhr,#sortSelect { padding:10px;}
      #registrySearchVB { 
        padding:0 10px;
        label {
          width:100px;
        }
      }

      #newSearchSubhr { 
        padding:15px; 
      }

      #resultsTable {
        div > span { display:block;}
        > div > div { 
          background: #EFEFEF;
          overflow: hidden;
          margin: 5px;
          padding: 10px;
        }
        .mvRedBtn { 
          display:inline-block;
          float:right;
          letter-spacing:normal;
          margin:0px;
        }
      }
      #submitImg { 
        display:block;
        margin-bottom:10px;
      }
    }



    .mvRegistryLabel { font-weight:bold;}

    /*------------edit registry -------------*/
    .registryEditAccount #doc3 {
      padding-bottom:10px;
      overflow:hidden;
    }
    .mvPaneInnerWrapper .mvDarkGrayBar { padding:10px;}
    #bd .iconOnlyLabel { display:inline-block;}
    .iconOnlyLabel { width:20px !important;}

    /*-----------forgot password------------*/
    .yui3-overlay {
      #verifyEmail_Overlay {
        .yui3-widget-bd {
          #fpOverlay {
            > div {
              > h1 {
                background: none;
                border-bottom: none;
              }
              &#securityHint {
                padding: 0;
                > p, > h1 {
                  padding: 10px 10px 0 10px;
                }
                li {
                  padding: 10px 10px 0 10px;
                  &.fieldMargin30 {
                    padding: 0;
                    margin-top: 10px;
                  }
                }
                #securityHintError {
                  margin: 10px 10px 0 10px;
                }
              }
            }
          }
        }
      }

      /*------------------security question---------------*/

      #securityqna_Overlay {
        .yui3-widget-hd {
          height: 27px;
          #btn {
            margin: 5px;
          }
        }
        .yui3-widget-bd {
          #fpOverlay {
            > div {
              > h1 {
                background: none;
                border-bottom: none;
                margin: 10px 10px 0 10px;
              }
              &#securityContent {
                padding: 0;
                > p, > h1 {
                  padding: 10px 10px 0 10px;
                }
                li {
                  padding: 10px 10px 0 10px;
                  &.fieldMargin30 {
                    padding: 0;
                    margin-top: 10px;
                  }
                }
                #securityHintError {
                  margin: 10px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }


    /* -----------------verify email-----------------*/
    #verifyEmail_Overlay {
      .hideDiv {
        display:none;
      }
      .showDiv { 
        padding:10px;
      }
      .heading {
        font-size:17px;
        font-weight:bold;
        color:#e70000;
        padding-bottom:10px;
      }
      .yui3-widget-hd {
        height:36px;
      }
      #overlaySubmitDiv {
        border-bottom:none;
        background:none;
      }
      #fpOverlay {
        -webkit-border-radus:0 0 5px 5px;
        #emailLabel {
          padding:5px 0;
          font-weight:bold;
        }
        .generalError {
          margin: 10px 0;
        }
        p { padding:0 0 0 0;}
        #captchaDiv ul li {
          padding:0 0;
          #verifyCaptchaBtn {
            margin:10px 0;
            clear:both;
          }
        }

        #confirmDiv {
          .fieldMargin10 {
            border-bottom:none;
            background:none;
            padding:10px 0;
          }
          .emphasize {
            width:5px;
            heigh:5px;
          }
        }
        > div {
          input[type="submit"] {
            @include red_button;
          }
          input[type="button"]
          {
            @include gray_button;
          }
        }
      }
    }

    .yui3-overlay > div{
      top: 100px !important;
      overflow: hidden;
      -webkit-border-radius: 5px;
      -webkit-box-shadow: #555 0px 0px 6px;
      background: #F1F1F1;
      height: auto !important;
      margin: 0 4%;
      width: 90% !important;
      -webkit-border-radius: 5px;
      -webkit-box-shadow: #555 0px 0px 6px;
      background: #F1F1F1;

      .yui3-widget-hd {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCFCFC), color-stop(100%, #CECECE));
        -webkit-border-radius: 5px 5px 0 0;
        border-bottom: 1px solid #CCC;
        #btn {
          float: right;
          margin: 10px;
          #cancelBtn {
            background: url(../../../images/css/close_btn.png) no-repeat;
            width: 20px;
            height: 20px;
          }
        }
      }
      .yui3-widget-bd {
        -webkit-border-radius: 5px;
        height: auto !important;
      }
      #fpOverlay {
        background-color: white;
        p {
          padding: 10px 10px 0px 10px;
        }
        .generalError {
          background: url(../../images/css/icon_error.gif) no-repeat;
          display:inline-block;
          background-repeat: no-repeat;
          background-position: 5px 6px;
          border: 1px solid red;
          margin: 10px;
          padding: 5px 10px 5px 20px;
          font-weight: bold;
          color:#e70000;
        }
        /*---------x-failed attempts layer-----------*/
        #secureqaDiv {
          font-size: 14px;
          h1 {
            font-weight: bold;
          }

          p {
            padding: 10px 10px 0 10px;
          }
          #secureQAForm {
            ul {
              li {
                padding: 10px 10px 0 10px;
                &.fieldMargin30 {
                  overflow: hidden;
                  background: #F1F1F1;
                  text-align: center;
                  padding-bottom: 10px;
                  margin-top: 10px;
                  border-top: 1px solid #C2C2C2;
                  -webkit-box-shadow: #E5E5E5 0px -3p
                }
                label {
                  display: inline;
                  &#emailLabel {
                    font-weight: bold;
                    .optional {
                      font-weight: normal;
                      padding-left: 5px;
                      #secureEmailID {
                        display: inline;
                      }
                    }
                  }
                }
                #question {
                  font-weight: bold;
                }
                #secqnabtn {
                  @include red_button
                }
              }
            }
          }
        }
      }
      .mvHeader, h1 {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCFCFC), color-stop(100%, #CECECE));
        -webkit-border-radius: 5px 5px 0 0;
        border-bottom: 1px solid #CCC;
      }
      .mvRedText {
        color: #D11A1A;
        font-size: 18px;
        padding: 6px 0 8px 12px;
      }
      #captchaDiv {
        ul {
          #emailID {
            display: inline;
            font-weight: normal;
          }
          #Captchapart {
            margin: 10px 0;
          }
          #captchaImg {
            vertical-align: middle;
            margin: 0 2px .25em 0;
            float: left;
          }
          #refreshbtn {
            margin-top: 22px;
            padding-left: 7px;
          }
          li {
            padding: 0 10px;
            label{
              text-align: left;
              font-weight: bold;
              display: inline-block;
              padding: 5px 0;
            }
          }
          .captcha_bottom {
            overflow: hidden;
            background: #F1F1F1;
            text-align: center;
            margin-top:10px;
            #verifyCaptchaBtn {
              display: block;
              text-align: center;
              margin: 10px auto;
              overflow: hidden;
              @include red_button;
            }
          }
          .fieldMargin30 {
            padding: 0 !important;
          }
        }
      }
      #confirmDiv {
        #confirmEmail {
          padding: 10px 10px 0px 10px;
        }
        p {
          display: inline-block;
          padding: 0;
        }
        .fieldMargin10 {
          padding: 10px;
          overflow: hidden;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, white), color-stop(99%, #F1F0F0), color-stop(100%, #DEDEDE));
          border-bottom: 1px solid #C2C2C2;
          -webkit-box-shadow: #E5E5E5 0px -3p;
        }
        #confirmEid {
          text-align: left;
          font-weight: bold;
          display: inline-block;
        }
        .confirm_bottom {
          overflow: hidden;
          background: #F1F1F1;
          text-align: center;
          #closeBtn {
            display: block;
            text-align: center;
            margin: 10px auto;
            overflow: hidden;
            @include gray_button;
          }
        }
      }
      #overlaySubmitDiv {
        padding:10px;
        overflow: hidden;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, white), color-stop(99%, #F1F0F0), color-stop(100%, #DEDEDE));
        border-bottom: 1px solid #C2C2C2;
        -webkit-box-shadow: #E5E5E5 0px -3p;
        > label {
          text-align: left;
          font-weight: bold;
          display: block;
          padding: 5px 0;
        }
        #verifySubmitBtn, #verifysecurityBtn, #verifyResetPasswordBtn, #verifySecurityQASubmit {
          display: block;
          text-align: center;
          margin: 10px auto;
          overflow: hidden;
          @include red_button;
        }

      }
      #overlaySubmitDiv, .fieldMargin30 {
        overflow: hidden;
        background: #F1F1F1;
        text-align: center;
        #verifySubmitBtn, #verifysecurityBtn, #verifyResetPasswordBtn, #verifySecurityQASubmit {
          display: block;
          text-align: center;
          margin: 10px auto;
          overflow: hidden;
          @include red_button;
        }
      }
      #securityQADiv {
        p { 
          padding: 10px;  
        }
      }

      #securityQAForm, #resetPasswordDiv ,#securityqnaDiv{
        fieldset {
          width: 100%;
        }
        ul {
          li#fieldMargin10 {
            padding: 0px 0px 0px 10px;
          }
          li:not(#fieldMargin30), li:not(#fieldMargin10) {
            padding: 0px 10px 10px 10px;
          }
          div#question {
            text-align: left;
            font-weight: bold;
            display: inline-block;
            padding: 5px 0;
          }

          span#helpString {
            display: block; 
          }
        }
      }
    }
  }

.mw_registry {

  #bvrNoProductsPool { display:none;}
  .mvRegistryHomeImg img { 
    width:100%;
    border-bottom:1px solid #b8b7b7;
  }
  /*----------hide AD--------*/
  .globalAd {display: none;}

  /*-------------Registry form--------------*/
  .row.clearfix, .rowSelect.clearfix { 
    margin-right: 0px !important;
    overflow:hidden;
    padding:10px 0px;
    #whatsthis {
      float: left;
      margin: -4px 0 0 5px;
    }
    #secureQuestionWrapper {
      clear: both;
      padding: 5px 0 0 0;
    }
  }
  .row.clearfix label, .rowSelect.clearfix label { 
    display: inline-block;
    text-align: left;
    &[for="email"], &[for="registryId"] {
      min-width: 100px;
    }
  }
  #createAccountForm .row.clearfix label, #createAccountForm .rowSelect.clearfix label {	
    font-size:13px;
    width:100px; 
    font-weight:bold;
    &.mw_security_q {
      float:left;
      width: auto
    }
  }
  .registryCaptureEmail .row.clearfix label {
    width:140px;
    font-weight:bold;
    display: inline-block;
  }
  .h_allcapsGrey {
    font-weight:bold;
    text-transform:uppercase;
    padding:5px 0 10px 0;
  }
  .rowSelect > label { display:block; }
  .rowSelect > select { 
    margin-right:5px;
  }
  .rowRadio.clearfix, .rowCheckbox.clearfix,.rowSelect.clearfix { padding:5px 0;}
  .rowRadio.clearfix .multiline, .rowCheckbox.clearfix .multilineWide,.rowCheckbox.clearfix .multiline{ display:inline;}
  #registrySignInExistingVB > .message { padding-bottom:15px;}

  /* for the security question help layer */
  .yui3-widget { 
    left: 10px !important;
    #myPanelContent {
      .pannel {
        background-color: #fff;
        border: 1px solid #ccc;
        -webkit-box-shadow: 1px 1px 2px 0 #999;
        padding: 5px;
        width: 92%;
        position: relative;
        font-size: 12px;
        #close, .close {
          position: absolute;
          right: 5px;
          top: 0px;
        }
        .header, #questionHead { 
          font-weight: bold;
        }
      }
    }
  }

  /*------------ popup---------------*/
  .yui-panel-container { 
    left:0 !important;
    line-height:150%;
    position:absolute;
  }
  .yui-panel-container .yui-overlay { 
    width:94% !important;
    background:#fff;
    margin:0 auto;
    -webkit-border-radius:6px;
    position:relative;
  }
  .yui-panel-container .gainlayout { padding:10px;}	
  #innerErrorDisplay { color:#e70000;}

  .mask { 
    width:100% !important;
    position:absolute;
    background: rgba(120, 120, 120, 0.85);
  }

  .yui-panel-container .gainlayout p br { display:none;}
  .container-close {
    background-image: url("https://www.macys.com/img/registry/close.gif") !important;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 48px;
  }

  .h_overlayTitleRed, .h_noncapRed { 
    color:#e70000;
  }
  .h_overlayTitleRed { 
    font-size:17px;
    font-weight:bold;
    padding-bottom:10px;
  }
  .h_noncapRed.mvSubTitle	{ color:#fff;}
  /* !Registry Main Style Sheet */

  #loading_c {
    background: white;
    position: absolute !important;
  }
  #errorMessage {
    display: none;
  }
  .mvBoxSubTitle {
    float: right;
    display: block;
    font-size: 13px;
    font-weight: normal;
  }
  .mvLableTextField {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 8px auto;
  }
  .mvLableTextField > .mvLabel {
    float: left;
    display: block;
  }
  .mvLableTextField > input[type="text"],
  .mvLableTextField > input[type="password"],
  .mvLableTextField > select{
    float: right;
    display: block;
  }
  /* !Registry HomePage */
  .mvShadowBox{padding: 0;}
  .mvSubTitle {
    padding: 5px 10px;
    border:none;
    -webkit-border-radius: 3px 3px 0 0;
  }

  #accessInStore > a {
    color: #3A3A39;
    text-decoration:underline;
  }
  #cc2 form, #cc3 form {
    padding: 10px 10px 0 10px;
    overflow: hidden;
  }
  #cc1 > .mvFormBtnContainer { padding:0 10px;}
  #accessInStore {padding: 10px !important;}
  /* !Registry HomePage Logged In */
  #cc21 img {
    margin: 10px;
    float: right;
    height: 31px;
  }
  #updateButton, #findButton { 
    float:right;
    margin-bottom:10px;
    height: 31px;
    width: 93px;
    -webkit-border-radius: 0px 0px 0 0;
  }
  #createButton {
    float:right;
    margin:10px;
    height: 31px;
    width: 93px;
  }
  /* !Create a Registery Account Login Page */
  .registryCreateAccount #bd { 
    overflow:hidden;
    padding-bottom:10px;
  }
  /* Fixing the Password section for Dont Have Macys.com Profile */
  #pswMessage { 
    display:inline-block;
    overflow:hidden;
  }
  .pswdHint {
    padding-top:5px;
  }
  .message > br { display:none;}
  #pswMessage a {
    display: block;
    padding: 5px 0px;
    color: #3A3A39;
    text-decoration: underline;
    font-weight:bold;
  }
  .mvPasswordContainer {
    float: none !important;
    width: 100%;
    display: block;
    overflow: hidden;
  }

  &#mvCreateNewRegistry {
    #signInForm .clearfix label{
      font-weight:bold;
      width:135px;
    }
    .mvLableTextField > .pswdHint{
      float: right;
      width: 100%;
      display: block;
      text-align: right;
    }
    .mvLableTextField > .pswdHint br {
      display: none;
    }
  }

  /* !Create a New Regsitry Step#1 */
  .mvEventDetailsWrapper select {float: right;}
  #estimatedNoOfGuests {
    float:none;
  }
  &#mvCreateNewRegistryStep1 {
    .mvSubTitle {
      padding:10px;
      -webkit-border-radius:0px;
    }
    label[for="contactBirthDate.month"]{
      display:block !important;
      margin-bottom:5px;
    }
    select[id="userProfile.contactInfo.address.state"],select[id="registry.shippingAddress.state"], select[id="registry.coRegistrantContactInfo.address.state"] { width:160px !important;}
    .mvEventDetails  label {
      width:250px !important;
      display:block;
      margin-bottom:5px;
    }
    .section{padding: 10px;}
    .mvSecondaryTitle{
      font-size: 15px;
      font-weight: bold;
      padding: 5px 0;
    }
    .mvSecondaryTitle:first-letter{text-transform:uppercase;}
    input[name="registry.coRegistrantAddressFromRegistrant"]{
      float: none; 
      display: inline;
    }
    input.phone3digs, input.phone4digs {
      width: 30px;
      float: none;
      display: inline;
    }
    select[name="registry.eventDetails.preferedStore.rsfNumber"] { max-width:260px;}
    label[for="userProfile.contactInfo.mobilePhone.areaCode"] { width:auto;}
    #buttonRow { 
      padding:10px;
      overflow:hidden;}
    }
    .mvEventDetailsWrapper div[class*="row"]{margin: 10px 0; overflow: hidden;}


    .topSection br {display: none;}

    input.phone4digs{width: 40px;}

    .mvContactInformation select{float: right;}
    .mvRegistryPref .rowRadio,
    .mvRegistryPref .rowCheckbox{overflow: hidden; }
    .mvRegistryPref .rowRadio > input, 
    .mvRegistryPref .rowCheckbox > input{
      float: left;
      width: 13px;
      height: 13px;
      margin-top: 3px;
    }
    .mvRegistryPref .rowRadio > div,
    .mvRegistryPref .rowCheckbox > div{
      float: left;
      width: 90%;
    }
    #whyAskingLink {
      display: block;
      margin: 10px 0;
    }

    #registryContainer #createAccountForm a {
      color: #3A3A39;
      text-decoration:underline;
    }


    /*-------------- create registry future address-----------------*/
    #futureAddressBlock { 
      > .rowSelect.clearfix {
        label {
          display:block;
          padding-bottom:5px;
        }
      }
      padding:10px;
      border: 1px dashed #ddd;
      margin-top:10px;
    }
    #viewOptionsPop_c ul {
      list-style: disc;
      padding-left: 20px;
      margin-bottom:20px;
    }
    /* Register Button */

    #buttonRow br {display: none;}
    #buttonRow input{

      display: block;
    }
    #buttonRow > p {
      display: block;
      float: right;
      margin-top: 10px;
      color: #555;
    }
    .buttonRow.clearfix { 
      padding-top:10px;
    }
    select[id="registry.futureShippingAddress.state"] {
      width:160px;
    }
    &#mvRegistrySigninBody {
      label { 
        display: inline-block;
        text-align: left;
        &[for="email"], &[for="registryId"] {
          min-width: 120px;
        }
      }
      #verifyEmailBtn {
        text-decoration:underline;
        color: #3A3A39;
      }
      .halfBlockLeft ul {
        list-style: disc inside;
      }
      #captureEmailLink { 
        display:block; 
        margin-top:10px;
      }
      #signIn { padding-bottom:0px;}
    }
    #forgotEmail {
      display: block;
      margin: 10px 0;
      float:none;
    }
    .mvRegHelp { color:#e70000;}
    .mvRegHelp a { text-decoration:underline;}
    #registrySignInVB, #registrySignInExistingVB {
      .row.clearfix label {
        font-weight:bold;
        width:135px;
      }
    }
    /*---------------registry claim-------------------*/
    #claimFields a {
      color: #3A3A39;
      text-decoration:underline;
    }
    &.registryClaim{
      #registrySignInVB {
        padding:10px;
      }
      #message {padding-bottom:10px;}
    }
    &.registryClaimVerify{
      .message { padding-bottom:10px;}
      #pswMessage { padding:15px 0 5px 0;}
    }
    /*--------search result -------*/
    &.registrySearch {
      .mvShadowBox { padding:0px; }
      .mvSubTitle { 
        line-height:130%;
        font-size:14px;
        -webkit-border-radius: 3px 3px 0 0;
      }
      #newSearchSubhr,#sortSelect { padding:10px;}
      #registrySearchVB { 
        padding:0 10px;
        label {
          width:100px;
        }
      }

      #newSearchSubhr { 
        padding:15px; 
      }

      #resultsTable {
        div > span { display:block;}
        > div > div { 
          background: #EFEFEF;
          overflow: hidden;
          margin: 5px;
          padding: 10px;
        }
        .mvRedBtn { 
          display:inline-block;
          float:right;
          letter-spacing:normal;
          margin:0px;
        }
      }
      #submitImg { 
        display:block;
        margin-bottom:10px;
      }
    }



    .mvRegistryLabel { font-weight:bold;}

    /*------------edit registry -------------*/
    .registryEditAccount #doc3 {
      padding-bottom:10px;
      overflow:hidden;
    }
    .mvPaneInnerWrapper .mvDarkGrayBar { padding:10px;}
    #bd .iconOnlyLabel { display:inline-block;}
    .iconOnlyLabel { width:20px !important;}

    /*-----------forgot password------------*/
    .yui3-overlay {
      #verifyEmail_Overlay {
        .yui3-widget-bd {
          #fpOverlay {
            > div {
              > h1 {
                background: none;
                border-bottom: none;
              }
              &#securityHint {
                padding: 0;
                > p, > h1 {
                  padding: 10px 10px 0 10px;
                }
                li {
                  padding: 10px 10px 0 10px;
                  &.fieldMargin30 {
                    padding: 0;
                    margin-top: 10px;
                  }
                }
                #securityHintError {
                  margin: 10px 10px 0 10px;
                }
              }
            }
          }
        }
      }

      /*------------------security question---------------*/

      #securityqna_Overlay {
        .yui3-widget-hd {
          height: 27px;
          #btn {
            margin: 5px;
          }
        }
        .yui3-widget-bd {
          #fpOverlay {
            > div {
              > h1 {
                background: none;
                border-bottom: none;
                margin: 10px 10px 0 10px;
              }
              &#securityContent {
                padding: 0;
                > p, > h1 {
                  padding: 10px 10px 0 10px;
                }
                li {
                  padding: 10px 10px 0 10px;
                  &.fieldMargin30 {
                    padding: 0;
                    margin-top: 10px;
                  }
                }
                #securityHintError {
                  margin: 10px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }


    /* -----------------verify email-----------------*/
    #verifyEmail_Overlay {
      .hideDiv {
        display:none;
      }
      .showDiv { 
        padding:10px;
      }
      .heading {
        font-size:17px;
        font-weight:bold;
        color:#e70000;
        padding-bottom:10px;
      }
      .yui3-widget-hd {
        height:36px;
      }
      #overlaySubmitDiv {
        border-bottom:none;
        background:none;
      }
      #fpOverlay {
        -webkit-border-radus:0 0 5px 5px;
        #emailLabel {
          padding:5px 0;
          font-weight:bold;
        }
        .generalError {
          margin: 10px 0;
        }
        p { padding:0 0 0 0;}
        #captchaDiv ul li {
          padding:0 0;
          #verifyCaptchaBtn {
            margin:10px 0;
            clear:both;
          }
        }

        #confirmDiv {
          .fieldMargin10 {
            border-bottom:none;
            background:none;
            padding:10px 0;
          }
          .emphasize {
            width:5px;
            heigh:5px;
          }
        }
        > div {
          input[type="submit"] {
            @include red_button;
          }
          input[type="button"]
          {
            @include gray_button;
          }
        }
      }
    }

    .yui3-overlay > div{
      top: 100px !important;
      overflow: hidden;
      -webkit-border-radius: 5px;
      -webkit-box-shadow: #555 0px 0px 6px;
      background: #F1F1F1;
      height: auto !important;
      margin: 0 4%;
      width: 90% !important;
      -webkit-border-radius: 5px;
      -webkit-box-shadow: #555 0px 0px 6px;
      background: #F1F1F1;

      .yui3-widget-hd {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCFCFC), color-stop(100%, #CECECE));
        -webkit-border-radius: 5px 5px 0 0;
        border-bottom: 1px solid #CCC;
        #btn {
          float: right;
          margin: 10px;
          #cancelBtn {
            background: url(../../../images/css/close_btn.png) no-repeat;
            width: 20px;
            height: 20px;
          }
        }
      }
      .yui3-widget-bd {
        -webkit-border-radius: 5px;
        height: auto !important;
      }
      #fpOverlay {
        background-color: white;
        p {
          padding: 10px 10px 0px 10px;
        }
        .generalError {
          background: url(../../images/css/icon_error.gif) no-repeat;
          display:inline-block;
          background-repeat: no-repeat;
          background-position: 5px 6px;
          border: 1px solid red;
          margin: 10px;
          padding: 5px 10px 5px 20px;
          font-weight: bold;
          color:#e70000;
        }
        /*---------x-failed attempts layer-----------*/
        #secureqaDiv {
          font-size: 14px;
          h1 {
            font-weight: bold;
          }

          p {
            padding: 10px 10px 0 10px;
          }
          #secureQAForm {
            ul {
              li {
                padding: 10px 10px 0 10px;
                &.fieldMargin30 {
                  overflow: hidden;
                  background: #F1F1F1;
                  text-align: center;
                  padding-bottom: 10px;
                  margin-top: 10px;
                  border-top: 1px solid #C2C2C2;
                  -webkit-box-shadow: #E5E5E5 0px -3p
                }
                label {
                  display: inline;
                  &#emailLabel {
                    font-weight: bold;
                    .optional {
                      font-weight: normal;
                      padding-left: 5px;
                      #secureEmailID {
                        display: inline;
                      }
                    }
                  }
                }
                #question {
                  font-weight: bold;
                }
                #secqnabtn {
                  @include red_button
                }
              }
            }
          }
        }
      }
      .mvHeader, h1 {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCFCFC), color-stop(100%, #CECECE));
        -webkit-border-radius: 5px 5px 0 0;
        border-bottom: 1px solid #CCC;
      }
      .mvRedText {
        color: #D11A1A;
        font-size: 18px;
        padding: 6px 0 8px 12px;
      }
      #captchaDiv {
        ul {
          #emailID {
            display: inline;
            font-weight: normal;
          }
          #Captchapart {
            margin: 10px 0;
          }
          #captchaImg {
            vertical-align: middle;
            margin: 0 2px .25em 0;
            float: left;
          }
          #refreshbtn {
            margin-top: 22px;
            padding-left: 7px;
          }
          li {
            padding: 0 10px;
            label{
              text-align: left;
              font-weight: bold;
              display: inline-block;
              padding: 5px 0;
            }
          }
          .captcha_bottom {
            overflow: hidden;
            background: #F1F1F1;
            text-align: center;
            margin-top:10px;
            #verifyCaptchaBtn {
              display: block;
              text-align: center;
              margin: 10px auto;
              overflow: hidden;
              @include red_button;
            }
          }
          .fieldMargin30 {
            padding: 0 !important;
          }
        }
      }
      #confirmDiv {
        #confirmEmail {
          padding: 10px 10px 0px 10px;
        }
        p {
          display: inline-block;
          padding: 0;
        }
        .fieldMargin10 {
          padding: 10px;
          overflow: hidden;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, white), color-stop(99%, #F1F0F0), color-stop(100%, #DEDEDE));
          border-bottom: 1px solid #C2C2C2;
          -webkit-box-shadow: #E5E5E5 0px -3p;
        }
        #confirmEid {
          text-align: left;
          font-weight: bold;
          display: inline-block;
        }
        .confirm_bottom {
          overflow: hidden;
          background: #F1F1F1;
          text-align: center;
          #closeBtn {
            display: block;
            text-align: center;
            margin: 10px auto;
            overflow: hidden;
            @include gray_button;
          }
        }
      }
      #overlaySubmitDiv {
        padding:10px;
        overflow: hidden;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, white), color-stop(99%, #F1F0F0), color-stop(100%, #DEDEDE));
        border-bottom: 1px solid #C2C2C2;
        -webkit-box-shadow: #E5E5E5 0px -3p;
        > label {
          text-align: left;
          font-weight: bold;
          display: block;
          padding: 5px 0;
        }
        #verifySubmitBtn, #verifysecurityBtn, #verifyResetPasswordBtn, #verifySecurityQASubmit {
          display: block;
          text-align: center;
          margin: 10px auto;
          overflow: hidden;
          @include red_button;
        }

      }
      #overlaySubmitDiv, .fieldMargin30 {
        overflow: hidden;
        background: #F1F1F1;
        text-align: center;
        #verifySubmitBtn, #verifysecurityBtn, #verifyResetPasswordBtn, #verifySecurityQASubmit {
          display: block;
          text-align: center;
          margin: 10px auto;
          overflow: hidden;
          @include red_button;
        }
      }
      #securityQADiv {
        p { 
          padding: 10px;  
        }
      }

      #securityQAForm, #resetPasswordDiv ,#securityqnaDiv{
        fieldset {
          width: 100%;
        }
        ul {
          li#fieldMargin10 {
            padding: 0px 0px 0px 10px;
          }
          li:not(#fieldMargin30), li:not(#fieldMargin10) {
            padding: 0px 10px 10px 10px;
          }
          div#question {
            text-align: left;
            font-weight: bold;
            display: inline-block;
            padding: 5px 0;
          }

          span#helpString {
            display: block; 
          }
        }
      }
    }
  }