body.mw_reset_password {
  ul {
    li {
      overflow: auto;
      margin-left: 10px;
      margin-bottom: 5px;
      label {
        width: 49%;
        float: left;
      }
      input {
        width: 45%;
        float: right;
      }
    }
  }

  #helpString {
    display: block;
    float: right;
    clear: both;
    font-size: 10px;
    br {
      display: none
    }
  }

  #buttonBgGrey {
    padding: 10px 10px 0 10px;
    .primaryBtnL {
      @include red_button;
      width: 10em;
      margin: 0px auto;
      display: block;
    }
  }

  .ResethSeparator > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .generalError {
    color: #e70000;
  }
}