.mw_reward {
  .mask {
    display: none;
    left: 0px;
    top: 0px;
    z-index: 1; }
  
  #_yuiResizeMonitor {
    display: none;
    width: 1px !important; }
  
  .inner_cont {
    display: none !important; }
  
  .yui-overlay, .yui-panel-container {
    position: absolute;
    visibility: hidden;
    z-index: 2; 
    //display: none;
    width: auto !important;
    &#otv_panel_c {
      display: block;
    }
  }
 img.buttonNonSubmitBorders { 
   vertical-align:top;
   display:inline-block;
   margin-right:10px !important;}
  /*-------------reward summary-----------------*/

  .redbold {
    color: #e70000; }
  
  &#mvRewardSummaryBody {
    .mvGetRewards {
      margin-top:10px;
      border-top:1px solid #999;
    }
    .accountDetail {
      padding:10px;
      background:#efefef;
      margin:10px 0;
      h3{
        font-weight:bold;
      }
      
    }
    .mvShadowBox {
      padding: 0px 0 10px 0; }
    .mvTitle {
      font-size: 17px; }
    .mainBlock {
      h2.status {
        font-weight:bold;
        color:#e70000;
      }
      .leftBlock > div {
        font-size: 15px !important;
        > div {
          font-size: 15px !important; } }
      a {
        text-decoration: underline;
        color: #3A3A39; } }
    .yui-panel-container .container-close {
      overflow: hidden;
      text-indent: -10000em;
      text-decoration: none;
    }
    .yui-panel .container-close {
      position: absolute;
      top: 5px;
      right: 10px;
      //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/close_btn.png) no-repeat;
      background: url(../../../images/css/close_btn.png) no-repeat;
      width: 18px;
      height: 18px;
      cursor: pointer; }
      .hd {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #cecece));
        -webkit-border-radius: 5px 5px 0 0;
        border-bottom: 1px solid #CCC;
        height: 25px; }
        #otv_panel_c { 
          left:0px !important;
          top:300px !important;
          #verifyError.generalError {
            display: block;
            padding: 10px;
            color:#e70000;
            margin:10px 0;
            border:1px solid #e70000;           
          }
          h1{
            font-weight:bold;
            padding-bottom:5px;
          }
          }
        #otv_panel { position:relative;
          width:93% !important;
          margin:0 auto;
          #phoneNumberLabel, #lastNameLabel {
            display:block;
            padding-bottom:5px;
          }
          .tab.inactiveTab { border-right:none !important;}
          .tabContentContainer {
            border:1px solid #ddd;
            form > div {
              padding:5px 10px;
            }
          }
          .tabContainer { 
            padding-left:0px;
            margin-bottom:-1px;
            }
          .verifyError {
            color:#e70000;
            padding:10px;
            border:1px solid #e70000;
            margin:10px 0;
          }
          .bd {
            background: #fff;
            padding: 10px;
            -webkit-border-radius: 0 0 5px 5px;
          }
        }
      }
  
  /* popup */
  
  #rm_panel button {
    color: #333;
    line-height: 23px;
    vertical-align: middle;
    font: bold 13px helvetica;
    border: 1px solid #666;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #cecece)); }
  
  #rm_panel_c {
    left: 0 !important;
    width: 100%; }
  
  #rm_panel {
    width: 94% !important;
    margin: -150px 3% !important;
    background: white;
    -webkit-border-radius: 10px; }
  

  #rm_panel .bd {
    padding: 10px; }
  
  button {
    padding: 5px 5px 7px 5px;
    margin: 10px 10px 0 0;
    -webkit-border-radius: 5px; }
  
  #bubble_c {
    left: 0 !important;
    top: 93px !important;
    margin: 0 10px; }
  
  .bubblecontent {
    padding: 5px 10px 10px 10px;
    background: white;
    border: 1px solid #DDD; }
  
  #bubble #triangle {
    margin-top: -9px;
    margin-left: 20px; }
  
  /*------------new star reward------------*/
  
  .mvPageMenu {
    margin: -23px 0 0 0;
    //background: #cccccc url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/arrow_down_fillgray.png) 50% no-repeat; }
    background: #cccccc url(../../images/css/arrow_down_fillgray.png) 50% no-repeat; }
  
  .mvBigGrayTitle {
    font-size: 18px;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0; }
  
  &#mvGetStartedReward {
    .instructionMain a {
      text-decoration: underline;
      color: #3A3A39; }
    .mvGetStartedIntro .mvLightGrayTitle {
      color: #666;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0; }
    .instructionSectionCopy > div {
      color: #e70000;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0 5px 0; }
    #instruction {
      padding: 0 10px; }
    .instructionMain > div:last-of-type {
      padding-top: 20px; } }
  
  /*-------------verify Loyalty number---------------*/
  
    .inactiveTabContent {
      display:none;
      }
    .tabContainer{
      overflow: hidden;
      padding-left:10px;
     }
    .tabHolder { 
          float:left;
          padding:5px;
          margin:10px 5px 0 0px;
          border:1px solid #ddd;
          border-width:1px 1px 0 1px;
          position:relative;
          display:inline-block;
          -webkit-border-radius:5px 5px 0 0;
          z-index:3;
          background:#fff;
          font-size:11px;
          .tabText {
            font-weight:bold;
          }
           }
      .tabHolder.inactiveTab { 
          background:#ddd;
       }
    #macysGlobalLayout > h3 {
      padding: 10px 10px 0 10px;
      font-weight: bold; }
    .questionsBox {
      padding: 10px;
      margin: 0px 5px;
      background: #efefef;
   } 
     #myMacysRewardsAccountAssociationForm {
        padding:10px;
        margin:0 10px;
        border:1px solid #ddd;
        margin-top: -1px;
        label{
        display:block;
        }
       .row.activeTabContent { 
          padding-top:10px;
        }
        input[id="loyaltyAccountInfo.accountHolderContactInfo.bestPhone.areaCode"], input[id="loyaltyAccountInfo.accountHolderContactInfo.bestPhone.exchange"], input[id="loyaltyAccountInfo.accountHolderContactInfo.bestPhone.number"] {
        width:60px !important;
         }
      }
  
  /*------------rewards home------------*/
  
  #rewardsLandingPageContainer {
    ul {
      padding-left: 15px;
      margin: 5px 5px 5px 15px; }
    ul li {
      list-style: disc outside; }
    .rewardsLandingSectionGraphic {
      position: relative; } }
  
  .rewardsLandingSectionGraphicValue {
    position: absolute;
    width: 35px;
    height: 28px;
    z-index: auto;
    color: white;
    font: bold 28px / 28px Arial, Helvetica, sans-serif;
    text-align: right; }
  
  .rewardsLandingSectionGraphicBaseImage {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: auto;
    border-bottom: 1px solid #999;
    width: 100%;
    padding-bottom: 10px; }
  
  #rewardsLandingSection_2 .rewardsLandingSectionText {
    margin-top: 150px; }
  
  #rewardsLandingSection_3 .rewardsLandingSectionText, #rewardsLandingSection_4 .rewardsLandingSectionText {
    margin-top: 100px; }
  
  .rewardsLandingSectionGraphicBaseImage img {
    width: 300px; }
  
  .rewardsLandingSection {
    padding: 10px; }
  
  .rewardsLandingSectionGraphicValue {
    top: 43px !important;
    left: 80px !important; }
  
  #rewardsLandingSection_1 .rewardsLandingSectionGraphic > div:last-child {
    top: 92px !important; }
  
  .rewardsLandingTitle {
    font-size: 17px;
    color: #e70000;
    text-transform: uppercase;
    padding-bottom: 5px;
    display: block; }
  
  .rewardsLandingDetails, .rewardsLandingBenefits, .rewardsLandingDisclaimer {
    display: block;
    margin-bottom: 12px; }
  
  #rewardsLandingPageContainer a {
    color: #3A3A39;
    text-decoration: underline; }
  
  #rewardsLandingWelcomeContainer {
    padding: 0 10px 10px 10px;
    border: 1px solid #999; }
  
  .mvWelcomeIntro {
    padding: 10px 0; }
  
  #rewardsLandingWelcomeContainer .enroll {
    padding-top: 10px; }
  
  .rewardsLandingDisclaimer > span {
    display: block;
    padding-bottom: 10px; }
  
  #rewardsLandingPageContainer br {
    display: none; }
  
  /*-----------enroll now------------*/
  
  #myMacysRewardsEnrollForm {
    .row {
      label {
        display: block;
        padding-bottom: 5px; }
      display: block;
      padding: 5px 10px; }
    .grayBox {
      background: #EFEFEF;
      padding: 10px 0px; } }
  
  .mvEnrollFormInfo {
    padding-bottom: 10px; }
  
  .enrollMain >div {
    padding: 0 10px; }
  
  .mvLabel {
    display: inline-block;
    width: 125px;
    font-weight: bold; }
  
  #myMacysRewardsEnrollForm {
    .titleBar {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #cecece));
      padding: 10px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #999; }
    .statement {
      padding: 10px;
      margin: 10px;
      border: 1px solid #ccc; }
    .leftgap {
      padding: 0 10px; }
    a {
      text-decoration: underline;
      color: #3A3A39; }
    select {
      margin: 10px 10px 0 0; } }
  
  #enroll .generalError {
    padding: 10px;
    margin: 0 10px 10px 10px;
    color: #e70000;
    border: 1px solid #e70000; }
  
  .errorLabel {
    //background: url('http://www.macys.com/img/icons/icon_error.gif') no-repeat 0 2px;
    background: url('../../images/css/icon_error.gif') no-repeat 0 2px;
    color: red;
    padding-left: 16px; }
  
  /*----------------enroll now sign in----------------------*/
  
  &#mvRewardSigninBody #signin .mvBigGrayTitle {
    padding-top: 0; }
  
  #signin {
    .signinLeft a {
      display: block;
      text-decoration: underline;
      color: #3A3A39;
      padding-top: 10px; }
    .buttonSubmitBorders {
      display: block;
      margin-top: 10px; }
    .generalError.errorText {
      padding: 10px;
      border: 1px solid #e70000; }
    .row label {
      display: inline-block;
      width: 125px;
      font-weight: bold; }
    .signinLeft .row {
      padding: 5px 0px;
      text-align: left;
      overflow: hidden; } }
  
  /*----------reward FAQ----------*/
  
  .mvRewardsFAQAnswers_Q {
    text-transform: capitalize;
    display: block;
    overflow: hidden;
    padding: 10px;
    -webkit-box-shadow: #cccccc 0px -3px 5px inset;
    background: #EFEFEF;
    border-top: 1px solid #999; }
  
  .rewardsFAQAnswers_Q {
    display: inline-block; }
  
  .mvRewardsFAQAnswers_Q {
    .mvMinus, .mvPlus {
      float: left;
      width: 25px;
      margin-top: -10px; } }
  
  .rewardsFAQAnswers_Q {
    width: 85%; }
  
  #rewardsFAQPageContainer.rewardsFAQAnswers_A {
    display: block;
    padding: 10px; }
  
  /*--------terms & conditions----------*/
  
  #rewardsTACContentContainer span, .rewardsTermsHeader {
    font-weight: bold; }
  
  #rewardsTACContentContainer {
    ul {
      padding-left: 15px;
      margin: 5px 5px 5px 15px; }
    ul li {
      list-style: disc outside; }
    p {
      padding: 10px 10px 0 10px; }
    .rewardsTermsHeader {
      padding: 10px; }
    table td {
      border: 1px solid #999;
      padding: 0 2px; } }
  
  .chartHeader td {
    background-color: #C00;
    color: white;
    font-weight: bold;
    font-size: 13px; }
  
  #rewardsTACContentContainer {
    .chartHeader > td {
      :first-of-type {
        width: 43% !important; }
      :nth-of-type(2), :nth-of-type(3) {
        width: 16% !important; } }
    #rewardsRateTable {
      padding: 10px 0;
      margin-left: -20px; }
    .rewardsIndentContainer {
      padding-left: 10px; } }
  
  /*------------ forgotten password------------*/
  
  &#mvRewardForgetPasswordBody {
    #macysGlobalLayout {
      padding: 10px 10px 0 10px; }
    form[name="password"] {
      input, > span {
        display: block;
        margin: 5px 0; } }
    #macysGlobalLayout a {
      text-decoration: underline;
      color: #3A3A39; }
    .mvErrorMeg {
      margin: 0 0 10px 0; } }
  
  /*------------enroll and create profile---------------*/
  
  #rate_table {
    table td {
      border: 1px solid #999;
      padding: 0 5px; }
    padding: 10px 0;
    .chartHeader > td {
      :first-of-type {
        width: 43% !important; }
      :nth-of-type(2), :nth-of-type(3) {
        width: 16% !important; } } }
  
  #tc_panel_c {
    left: 0 !important;
    width: 100%;
    top: 20px !important; }
  
  #tc_panel {
    position: relative;
    margin: 0 3%;
    width: 94% !important;
    top: 0;
    left: 0;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: #555 0px 0px 6px;
    background: #F1F1F1;
    overflow: hidden;
    > .hd {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #cecece));
      -webkit-border-radius: 5px 5px 0 0;
      border-bottom: 1px solid #CCC;
      padding: 10px; }
    > .bd {
      background: #fff;
      padding: 10px;
      -webkit-border-radius: 0 0 5px 5px; } }

  input {
    #accept, #cancel {
      display: inline-block;
      padding-right: 10px; } }
  
  .tcPanelSubHeader, .tcPanelMainHeader {
    font-weight: bold;
    font-size: 18px; }
  
  #tc_panel.yui-panel .container-close {
    position: absolute;
    top: 10px;
    right: 10px;
    //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/close_btn.png) no-repeat;
    background: url(../../images/css/close_btn.png) no-repeat;
    width: 18px;
    height: 18px;
    cursor: pointer; }
  
  /*-------------confirm page----------------*/
  
  #confirm a {
    color: #3A3A39;
    text-decoration: underline; }
  
  .confirmMain {
    h3 {
      color: #e70000;
      font-size: 17px; }
    > div:first-of-type {
      padding: 10px; } }
  
  .confirmBannerRight .title {
    color: #e70000;
    font-weight: bold; }
  
  .confirmMain .titleBar {
    padding: 10px;
    background: #efefef -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#cecece));
    background-color: #EFEFEF;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999; }
  
  .confirmBannerLeft {
    float: left;
    img {
      margin-right: 10px; } }
  /*---------reward management----------*/
#editMyMacysUpperCopy  .generalError {
    border: 1px solid #E70000;
    color: #E70000;
    margin: 10px;
    padding: 10px;
    
  }
  
  #myMacysRewardsEditAccountForm {
   
    padding:10px;
    
    .row{
     padding:5px 0;
    }
    label{
    display: inline-block;
    font-weight: bold;
    padding-right: 5px;
    text-align: left;
    width: 120px;
    font-size:13px;
    }
   input[type="password"],input[type="text"]{
     width:140px;
   }
   label[for="loyaltyAccountInfo.accountHolderDayOfBirth"], label.errorLabel[for="loyaltyAccountInfo.accountHolderDayOfBirth"] {
     span{
       display:block;
       padding-bottom:5px;
     }
     width:90%;
   }
   select {
     margin-right:5px;
     max-width:140px;
   }
   .mvPhoneInputs {
     label{
       display:block;
       padding-bottom:5px;
     }
      input {
     width:60px !important;
     }
   }
   label.errorLabel {
         width:104px;
         font-size:12px;
     }
  }
  /* for the security question help layer */  
  label[for='userPasswordHintBO.hintID'] {
    float: left;
  }
  #whatsthis {
    padding-left: 5px;
    text-decoration: underline;
    font-weight: normal;
    float: left;
    margin-top: -2px;
/*      width: 10px;
    height: 15px;*/
  }
  .yui3-widget { 
    left: 10px !important;
    width: 100% !important;
    #myPanelContent {
      .pannel {
        background-color: #fff;
        border: 1px solid #ccc;
        -webkit-box-shadow: 1px 1px 2px 0 #999;
        padding: 5px;
        width: 92%;
        position: relative;
        font-size: 12px;
        #close, .close {
          position: absolute;
          right: 5px;
          top: 0px;
        }
        .header, #questionHead { 
          font-weight: bold;
        }
      }
    }
  }
  .yui3-widget > div{
      top: 100px !important;
      overflow: hidden;
      -webkit-border-radius: 5px;
      -webkit-box-shadow: #555 0px 0px 6px;
      background: #F1F1F1;
      height: auto !important;
      margin: 0 4%;
      width: 90% !important;
      -webkit-border-radius: 5px;
      -webkit-box-shadow: #555 0px 0px 6px;
      background: #F1F1F1;
      
      .yui3-widget-hd {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCFCFC), color-stop(100%, #CECECE));
        -webkit-border-radius: 5px 5px 0 0;
        border-bottom: 2px solid #CCC;
        #close {
          float: right;
          margin: 5px;
          #closeMMRBtn {
            background: url(../../../images/css/close_btn.png) no-repeat;
            width: 20px;
            height: 20px;
          }
        }
      }
      .yui3-widget-bd {
        -webkit-border-radius: 5px;
        height: auto !important;
        li {
                padding: 10px 10px 0 10px;
        }
      }
      #qaOverlay {
        background-color: white;
        p {
          padding: 10px 10px 0px 10px;
        }
        .generalError {
          background: url(../../images/css/icon_error.gif) no-repeat;
          display:inline-block;
          background-repeat: no-repeat;
          background-position: 5px 6px;
          border: 1px solid red;
          margin: 10px;
          padding: 5px 10px 5px 20px;
          font-weight: bold;
          color:#e70000;
        }
        /*---------x-failed attempts layer-----------*/
        #mmrSQnADiv {
          font-size: 14px;
          h1 {
            font-weight: bold;
            height: 27px;
          }
          
          p {
            padding: 10px 10px 0 10px;
          }
          #qaSetupMMRForm {
            ul {
              li {
                width: auto !important;
                padding: 10px 10px 0 10px;
                &.fieldMargin30 {
                  overflow: hidden;
                  background: #F1F1F1;
                  text-align: center;
                  padding-bottom: 10px;
                  margin-top: 10px;
                  border-top: 1px solid #C2C2C2;
                  -webkit-box-shadow: #E5E5E5 0px -3p
                }
                label {
                  display: inline;
                  &#emailLabel {
                    font-weight: bold;
                    .optional {
                      font-weight: normal;
                      padding-left: 5px;
                      #secureEmailID {
                        display: inline;
                      }
                    }
                  }
                }
                #question {
                  font-weight: bold;
                }
                #verifyMMRSQAbtn {
                  @include red_button
                }
              }
            }
          }
        }
      }   
      .mvHeader, h1 {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCFCFC), color-stop(100%, #CECECE));
        -webkit-border-radius: 5px 5px 0 0;
        border-bottom: 1px solid #CCC;
        height: 27px;
        color: #D11A1A;
        font-size: 18px;
        padding: 6px 0 8px 12px;
      }
      .mvRedText {
        color: #D11A1A;
        font-size: 18px;
        padding: 6px 0 8px 12px;
      }
      #captchaDiv {
        ul {
          #emailID {
            display: inline;
            font-weight: normal;
          }
          #Captchapart {
            margin: 10px 0;
          }
          #captchaImg {
            vertical-align: middle;
            margin: 0 2px .25em 0;
            float: left;
          }
          #refreshbtn {
            margin-top: 22px;
            padding-left: 7px;
          }
          li {
            padding: 0 10px;
            label{
              text-align: left;
              font-weight: bold;
              display: inline-block;
              padding: 5px 0;
            }
          }
          .captcha_bottom {
            overflow: hidden;
            background: #F1F1F1;
            text-align: center;
            margin-top:10px;
            #verifyCaptchaBtn {
              display: block;
              text-align: center;
              margin: 10px auto;
              overflow: hidden;
              @include red_button;
            }
          }
          .fieldMargin30 {
            padding: 0 !important;
          }
        }
      }
      #confirmDiv {
        #confirmEmail {
          padding: 10px 10px 0px 10px;
        }
        p {
          display: inline-block;
          padding: 0;
        }
        .fieldMargin10 {
          padding: 10px;
          overflow: hidden;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, white), color-stop(99%, #F1F0F0), color-stop(100%, #DEDEDE));
          border-bottom: 1px solid #C2C2C2;
          -webkit-box-shadow: #E5E5E5 0px -3p;
        }
        #confirmEid {
          text-align: left;
          font-weight: bold;
          display: inline-block;
        }
        .confirm_bottom {
          overflow: hidden;
          background: #F1F1F1;
          text-align: center;
          #closeBtn {
            display: block;
            text-align: center;
            margin: 10px auto;
            overflow: hidden;
            @include gray_button;
          }
        }
      }
      #overlaySubmitDiv {
        padding:10px;
        overflow: hidden;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, white), color-stop(99%, #F1F0F0), color-stop(100%, #DEDEDE));
        border-bottom: 1px solid #C2C2C2;
        -webkit-box-shadow: #E5E5E5 0px -3p;
        > label {
          text-align: left;
          font-weight: bold;
          display: block;
          padding: 5px 0;
        }
      }
      #overlaySubmitDiv, .fieldMargin30 {
        overflow: hidden;
        background: #F1F1F1;
        text-align: center;
        #verifySubmitBtn, #verifysecurityBtn, #verifyResetPasswordBtn, #verifySecurityQASubmit {
          display: block;
          text-align: center;
          //margin: 10px auto;
          overflow: hidden;
          @include red_button;
        }
      }
    }
}
