body#mw_termsandcond {
  padding: 50px 10px 10px 10px;
  background: url("../../../images/other/magic_of_macys.gif") no-repeat;
  
  p {
    padding: 10px 0px;
  }
  
  ul {
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-padding-start: 40px;
  }
  
  .BVRRDocumentationHeader {
    color: black;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
  }
  
  #BVRRCloseWindowLinkDivIDWrapper {
    text-align: center;
    #BVRRCloseWindowLinkDivID {
      display: inline-block;
      background: url("../../../images/css/close.gif") no-repeat;
      a {
        height: 20px;
        width: 50px;
        display: inline-block;
      }
    }
  }
}