/* ------- BASE STYLE ------- */

body#mvBody {
  font: 15px sans-serif;
  font-family: Helvetica;
  color: #3a3a39;
  -webkit-text-size-adjust: none;
  background-color: #fff;
  overflow-x: hidden;
  img {
    vertical-align: middle;
    height: inherit; }

strong {
  font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }
input, textarea {
  font: 13px sans-serif; }

input {
  &[type="text"], &[type="password"] {
    padding: 5px; }
  &[type="radio"], &[type="checkbox"] {
    margin-right: 5px; } }

/* Link */

a {
  color: #e70000;
  text-decoration: none;
  &:hover, &:active {
    text-decoration: none; } }

/* ------- LAYOUT STYLE ------- */

.mvHideElement, .hidden, img[src*="spacer.gif"] {
  display: none; }

.mvHideElement {
  padding: 0px !important;
  margin: 0px !important;
  * {
    padding: 0px !important;
    margin: 0px !important; } }

/*------ accordian plus and minus btn ------*/

.moovweb_open .mvPlus, .mvMinus {
  display: none; }

.moovweb_open .mvMinus {
  display: inline-block; }

.mvMinus, .mvPlus {
  float: right;
  font-size: 26px;
  margin-top: -2px;
  font-weight: normal; }


/*--------------- Hide Elements------------------*/

.mvHideElement {
  display: none; }

/*------------------ nav bar ----------------------*/

.mvDarkGrayBar {
  font-size: 17px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7e7e7e), color-stop(65%, #7e7e7e), color-stop(100%, #5e5e5e));
  background-color: #7E7E7E !important;
  color: white;
  text-transform: capitalize;
  display: block;
  border-bottom: #555 solid 1px;
  border-top: #DDD solid 1px;
  line-height: 100%;
  font-weight:normal;
  overflow: hidden;
  a {
    display: block;
    color: white;
    //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/arrow_right_white.png) right 50% no-repeat;
    //background: url(../../images/sprite_me/arrow_right_white.png) right 50% no-repeat;
    background-position: 100% 10px;
    padding: 10px 81px 10px 10px; }
  strong {
    font-weight: normal; } }

.mvWhiteGrayBar {
  background: #fff;
  border-bottom: 1px solid #999;
  text-transform: capitalize;
  display: block;
  overflow: hidden;
  font-size: 17px;
  line-height: 100%;
  -webkit-box-shadow: inset 0px -3px 4px #e5e5e5; }

.mvWhiteBar {
  background: #fff;
  border: 1px solid #999;
  text-transform: lowercase;
  display: block;
  overflow: hidden;
  border-width: 0 1px 1px 1px; }

.mvLightGrayBar {
  background: #F9F9F9;
  border-bottom: 1px solid #999;
  text-transform: capitalize;
  display: block;
  overflow: hidden; }

.mvWhiteBar a, .mvLightGrayBar a {
  display: block;
  font-size: 16px;
  padding: 10px 10px 10px 20px;
  color: #444;
  text-transform: capitalize; }

.mvWhiteGrayBar a {
  display: block;
  font-size: 16px;
  padding: 10px 10px 10px 20px;
  color: #444;
  text-transform: capitalize;
  //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/arrow_right.png) right no-repeat; }
  background: url(../../images/css/arrow_right.png) right no-repeat; }

.mvWhiteBar a, .mvLightGrayBar a {
  //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/arrow_right.png) right no-repeat; }
  background: url(../../images/css/arrow_right.png) right no-repeat; }

.mvHideSpinner {
  position: absolute;
  top: -100px; }

.mvDarkGrayBar a.mvBarSpinner, .mvBarSpinner2 {
  //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/macysBtns/5.gif) 98% 50% no-repeat !important; }
  margin-right: 0px;
  background: url(../../images/sprite_me/loading5.gif) 98% 50% no-repeat !important; }
  //width: 20px;
  //height: 20px;

.mvWhiteGrayBar a.mvBarSpinner, .mvWhiteBar a.mvBarSpinner, .mvLightGrayBar a.mvBarSpinner, .mvBarSpinner1 {
  //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/macysBtns/4.gif) 98% 50% no-repeat !important; }
  margin-right: 0px;
  background: url(../../images/sprite_me/loading4.gif) 98% 50% no-repeat !important; }
  //width: 20px;
  //height: 20px;


/*-------------btn-----------------*/


.mvRedBtn, .mvDarkBtn {
  display: inline-block;
  -webkit-border-radius: 5px;
  padding: 8px 10px;
  color: #fff;
  margin: 10px 0;
  text-align: center;
  line-height: 100%;
  border: none;
  text-transform: lowercase;
  font-size: 15px; }

.mvRedBtn a, .mvDarkBtn a, a.mvRedBtn, a.mvDarkBtn {
  color: #fff !important;
  text-decoration:none !important; }

.mvRedBtn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e30404), color-stop(60%, #9f0100), color-stop(100%, #733132));
  background-color: #733132; }

.mvDarkBtn {
  border: 1px solid #8E8E8E;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999999), color-stop(55%, #727272), color-stop(100%, #555555));
  background-color: #727272; }

.mvGrayBtn {
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #bababa));
  text-shadow: #fff 1px 1px 1px;
  font-weight: bold;
  text-transform: capitalize;
  color: #333;
  text-align: left;
  -webkit-border-radius: 8px;
  border: 1px solid  #bbb; }

.mvDarkGrayBtn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(50%, #e8e8e8), color-stop(51%, #dbdbdb), color-stop(100%, #bababa));
  background-color: #7E7E7E;
  font-size: 14px;
  padding: 5px 10px;
  text-shadow: #fff 1px 1px 1px;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-border-radius: 8px;
  border: 1px solid #ddd;
  display: blockl; }



/*------------- header ------------------*/

#globalMastheadBox {
  overflow: hidden;
  z-index: 10;
  border-bottom: 1px solid #474646;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #cecece));
  background-color: #efefef; }

#globalMastheadLogo {
  float: left;
  padding: 4px 0 2px 4px;
  img {
    margin-top: 2px; } }

#globalMastheadMiniCart a {
  color: #444;
  //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/bag.png) no-repeat right 50%;
  //background: url(../../images/sprite_me/bag.png) no-repeat right 50%;
  padding: 10px 23px 10px 10px;
  font-size: 15px;
  line-height: 15px;
  display: block;
  float: right;
  border-bottom: 1px solid #444;
  background-position: 100% -21px;
  min-width:16px;
  min-height: 15px;
}

.mvSearchAndMenu {
  display: block;
  float: right; }

#globalMastheadMiniCart {
  float: right;
  -webkit-border-radius: 6px 6px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #f9f9f9), color-stop(65%, #efefef), color-stop(0%, #e0e0e0));
  background-color: #F9F9F9;
  height: 36px;
  overflow: hidden;
  position: absolute;
  right: 2%;
  top: 5px;
  z-index: 8; }

.mvMenuDropdown {
  padding: 17px 26px 18px 26px;
  //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/list_icon.png) 50% no-repeat;
  //background: url(../../images/sprite_me/list_icon.png) 50% no-repeat;
  &.sprite_me-list_icon {
    background-position: -63px -129px;
  }
  display: inline-block;
  border-right: 1px solid #444;
  border-left: 1px solid #444;
  border-bottom: 1px solid #444;
  &.moovweb_open {
    //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/list_icon2.png) 50% no-repeat; } }
    //background: url(../../images/sprite_me/list_icon2.png) 50% no-repeat; } }
    background-position: -63px -160px;
  }
}

#mvCheckOutBody .mvBottomNav {
  border-top: 1px solid #999; }

.mvSearchDropdown {
  padding: 17px 26px 18px 26px;
  //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/search_icon.png) 50% no-repeat;
  //background: url(../../images/sprite_me/search_icon.png) 50% no-repeat;
  &.sprite_me-search_icon {
    background-position: 18px -229px;
  }
  display: inline-block;
  border-bottom: 1px solid #444;
  &.moovweb_open {
    border-bottom: none; } }

.mvMenuDropdown.moovweb_open {
  border-bottom: none; }

/*--------Menu---------*/

.mvMenuWrapper {
  position: absolute;
  clear: both;
  width: 92%;
  margin: 0 2%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(11%, white), color-stop(90%, white), color-stop(100%, #e0e0e0));
  background-color: #F9F9F9;
  -webkit-border-radius: 0 0 5px 5px;
  -webkit-box-shadow: #555 1px 2px 2px;
  padding: 8px 2%;
  z-index: 7; }

.mvMenuOpener {
  padding: 10px; }

/*--------top menu------------*/

.mvMenuWrapper {
  #globalNav .mvMenuOpener {
    -webkit-border-radius: 4px 4px 0 0; }
  .mvMore .mvMenuOpener.moovweb_open {
    -webkit-border-radius: 0; } }

.mvCloseMenu {
  float: right;
  margin-bottom: 5px; }

/*-------- bottom menu --------*/
.mvBottomNavContainer {
  background: #E9E9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9F9F9), color-stop(0.65, #EFEFEF), to(#E5E5E5));
}
.mvBottomNav {
  padding: 10px;
  font-size: 17px;
  border-bottom: 1px solid #999;
  background-position: right -127px !important;
  &[class~='moovweb_open'] {
    background-position: right -157px !important;
  }
  > {
    .mvPlus {
      //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/list_icon.png) 50% no-repeat;
      //background: url(../../images/sprite_me/x) 50% no-repeat;
      width: 27px;
      //height: 26px; }
      height: 20px; }
    .mvMinus {
      //background: url(https://moovweb-gage.s3.amazonaws.com/yupu/macy2/list_icon2.png) 50% no-repeat;
      //background: url(../../images/sprite_me/list_icon2.png) 50% no-repeat;
      width: 27px;
      //height: 26px; } } }
      height: 20px; } } }

/*--------------search--------------*/

#globalSubNav {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(65%, #efefef), color-stop(100%, #e5e5e5));
  background-color: #f9f9f9;
  padding: 6px 10px;
  overflow: hidden;
  margin: 0 5px 5px 5px;
  -webkit-border-radius: 0 0 6px 6px;
  border: 1px solid #999999;
  border-width: 0 1px 1px 1px; }

.globalSearchInputField {
  color: #999;
  width: 220px;
  padding: 5px;
  display: block;
  float: left; }

.mvSearchBtn {
  //background: url(../../images/sprite_me/go.png);
  width: 43px;
  height: 30px;
  border-radius: 10px;
  float: right; }

/*-------- bottom search ----------*/

body > #globalSubNavBox {
  border-top: 1px solid #999;
  > #globalSubNav {
    border-width: 1px 0 1px 0;
    margin: 1px 0 0 0;
    -webkit-border-radius: 0;
    padding: 10px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, white), color-stop(99%, #f1f0f0), color-stop(100%, #dedede));
    background-color: #f9f9f9;
    border-top: 2px solid #555; } }

/*----------footer-----------*/

.mvMacysFooter {
  overflow: hidden;
  padding: 5px 10px; }

.mvFooterLinks {
  overflow: hidden;
  padding: 5px 10px;
  a {
    text-transform: capitalize; } }

.mvMacysCopyRight {
  width: 75%;
  display: inline-block;
  float: left;
  overflow: hidden;
  font-size: 13px; }

#globalMastheadSocialLinks {
  float: right;
  li {
    display: inline-block; }
  img {
    margin: 2px 0 0 3px; } }

.mvFooterLinks {
  p, > a.globalMiniCartSignIn {
    float: left;
    width: 27%; }
  .myFooter {
    display: inline-block;
    width: 31%;
    text-align: center; }
  .desktop_site {
    float: right; }
  a {
    color: #444;
    text-decoration: underline;
    text-transform: capitalize; } }

.moovweb_footer {
  padding: 8px;
  text-align: center;
  border-top: 1px solid #999;
  color: #666;
  font-size: 11px;
  a b {
    color: #666; } }

.errorTrackingPixel {
  display: none; }

#globalSubNavBox {
  margin-top: 20px; }
}





