.sprite_me-logo {
  //background: url("../../images/sprite_me/logo.png");
  margin-top: 2px;
  height: 32px;
  width: 116px;
}

#globalMastheadSocialLinks {
  ul li a div {
    margin: 2px 0 0 3px;
    height: 25px;
    width: 25px;
  }
//  div#facebookIconImage {
//    background: url("../../images/sprite_me/facebook.png")
//  }
//  div#twitterIconImage {
//    background: url("../../images/sprite_me/twitter.png")
//  }
}
